extends ../layout

block append styles
  link(rel='stylesheet', href='/stylesheets/events/index.css')

block content
  div.event.module
    div.container(style='background-image:url(../images/classroom.png);')
      div.special #{__('news_chineseonly')}             

      div.content
        div(style='padding: 0 15px;background-image: url(/events/blm1.png);background-size: cover;background-position: bottom;background-repeat: no-repeat;')
          div(style='font-size: 5rem;font-weight: bold;line-height: 1.25;text-align: right;')
            div #{__('blm1')}
            div 
              span(style='background-color:black; color: white; padding-right:5px') #{__('blm2')}
            div #{__('blm3')}
          div(style='display: flex;padding-bottom:15px; font-weight:bold')
            div(style='min-width: 100px; margin-right:20px;text-align:right') 
              div(style='; background-color:black; color: white; padding-right:5px') #{__('blm4')}
            div #{__('blm5')}
          div(style='display: flex;padding-bottom:15px; font-weight:bold')
            div(style='min-width: 100px; margin-right:20px;text-align:right') 
              div(style='; background-color:black; color: white; padding-right:5px') #{__('blm6')}
            div #{__('blm7')}
          div(style='display: flex;padding-bottom:15px; font-weight:bold')
            div(style='min-width: 100px; margin-right:20px;text-align:right') 
              div(style='; background-color:black; color: white; padding-right:5px') #{__('blm8')}
            div #{__('blm9')}
          div(style='display: flex;padding-bottom:15px; font-weight:bold')
            div(style='min-width: 100px; margin-right:20px;text-align:right') 
              div(style='; background-color:black; color: white; padding-right:5px') #{__('blm10')}
            div #{__('blm11')}
          div(style='display: flex;padding-bottom:15px; font-weight:bold')
            div(style='min-width: 100px; margin-right:20px;text-align:right') 
              div(style='; background-color:black; color: white; padding-right:5px') #{__('blm12')}
            div #{__('blm13')}
          div(style='text-align: center;') #{__('blm14')}

        div(style='background-color: white; padding:10px; text-align:center; font-weight: bold;')
          a(href='https://forms.gle/sbExuSS6z26PjytG8') https://forms.gle/sbExuSS6z26PjytG8
        div(style="display: flex;padding: 15px; background-color:black; color:white;background-image: url(/events/blm2.png);background-size: cover;background-position: bottom;background-repeat: no-repeat;")
          div
            div(style='min-width: 120px;height: 150px;background-image: url(/events/blm3.png);background-size: contain;background-repeat: no-repeat;margin-right: 15px;')
            div(style='color:yellow') #{__('blm7')}
          div
            div(style='color:yellow') #{__('blm15')}
            div #{__('blm16')}


  script(src='/javascripts/app/index.js')