extends ../layout

block append styles
  link(rel='stylesheet', href='/stylesheets/events/index.css')

block content
  div.event.module
    div.container(style='background-image:url(../images/books2.png)')
        div.special #{__('news_chineseonly')}

        div.content
          div(style='font-weight:bold; font-size:2rem; background-color: black;color: white;padding: 3px;')  #{(__('news7_1'))}
                                                              
          ul.desc-container
            li #{(__('news7_2'))}
            li #{(__('news7_3'))}          
            li 
              strong #{(__('news7_4'))}
              div #{(__('news7_5'))}
            li
              strong #{(__('news7_6'))}
              div #{(__('news7_7'))}
            li 
              div #{(__('news7_8'))}
            li
              div 
                span #{(__('news7_9'))} 
                a(href="www.ccstvan.ca" target="_blank") www.ccstvan.ca
                span #{(__('news7_10'))}
            li
              div 
                a.email(href='mailto:info@ccstvan.ca' target='_blank') #{(__('news7_11'))} 
              div
                a.email(href='mailto:info@ccstvan.ca' target='_blank') #{(__('news7_12'))} 
              
                         
  script(src='javascripts/app/index.js')