extends ../layout

block append styles
  link(rel='stylesheet', href='/stylesheets/events/index.css')

block content
  div.event.module
    div.container(style='background-image:url(../images/classroom.png);')
      div.special #{__('news_chineseonly')}             

      div.content
        div(style='font-size: 1.25rem;padding-bottom:15px;')  #{__('event_mar22_1')}      
        div(style='font-size: 2rem;font-weight: bold;') #{__('event_mar22_2')}

        div(style="padding-top:25px") #{__('event_mar22_3')}      
        div(style="padding-top:15px") #{__('event_mar22_4')}      
        
        div(style='display:flex; padding-top:25px;padding-bottom:15px;')
          div(style='min-width:120px;padding-right:25px;') #{__('event_mar22_8')}
          div #{__('event_mar22_9')}
        div(style='display:flex; padding-bottom:15px;')
          div(style='min-width:120px;padding-right:25px;') #{__('event_mar22_11')}
          div #{__('event_mar22_12')}
        div(style='display:flex; padding-bottom:15px;')
          div(style='min-width:120px;padding-right:25px;') #{__('event_mar22_13')}
          div #{__('event_mar22_14')}
        
        div(style='display:flex; padding-bottom:15px;')
          div(style='min-width:120px;padding-right:25px;') 
            div #{__('event_mar22_5')}      
            div(style='background-image: url(/events/mar22.png);min-width: 100px;height: 150px;background-repeat: no-repeat')    
            div #{__('event_mar22_6')}                                  
          div #{__('event_mar22_7')} 

        div(style="font-weight:bold;") #{__('event_mar22_15')} 
        div
            a(href="https://us02web.zoom.us/meeting/register/tZYvdu-rrTkpHdBVl0Uui9Fqpqmegz8caqbh" target="_blank") https://us02web.zoom.us/meeting/register/tZYvdu-rrTkpHdBVl0Uui9Fqpqmegz8caqbh


  script(src='/javascripts/app/index.js')