extends ../layout

block append styles
  link(rel='stylesheet', href='/stylesheets/events/index.css')

block content
  div.event.module
    div.container(style='background-image:url(../images/classroom.png);')
      div.special #{__('news_chineseonly')}             

      div.content
        div(style='font-size:2rem;font-weight:bold;') #{__('news3_1')}
        div #{__('news3_title')}
        div
          span #{__('news3_date1')} 
          span #{__('news3_date2')} 
          span #{__('news3_date3')}

        div(style='font-size:1.25rem;') #{__('news3_2')}
        ul
          li(style='list-style: disc; margin-left: 25px;') #{__('news3_3')}
          li(style='list-style: disc; margin-left: 25px;') #{__('news3_4')}

        div(style="padding: 25px;")
          iframe(width="100%", height="450px", src="https://www.youtube.com/embed/x3JnH_aGtxM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")       

  script(src='/javascripts/app/index.js')