extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/about-us.css')

block content

    div.module
        div.container
            include side-nav
            +side-nav('about_us', [
                {name:'staff_team', link:'#staff'}, 
                {name:'ccst_van_board', link:'#board'}, 
                {name:'accreditation', link:'#accreditation'},
                {name:'contactus', link:'#contactus'}])

            div.context
                section(id='staff')
                    h1
                        span #{__('staff_team')}
                    div.staffs_container                      
                        div.staffs
                            div.staff_container.sm
                                div.profile
                                div
                                    div.titles  
                                        div #{__('emeritusProfessor')}
                                    div.name #{__('drJohnHsu')}
                                    div.edu #{__('emeritusProfessor_edu')}

                            div.staff_container
                                div.profile(style='background-size: cover; background-image: url("../../images/ivanleung.png")') 
                                div
                                    div.titles 
                                        div #{__('principal')}
                                        div #{__('drIvanLeung1')}
                                    div.name #{__('principal_name')}
                                    div.edu #{__('principal_edu')}

                            div.staff_container
                                div.profile(style='background-size: cover; background-image: url("../../images/jasonyeung.png")') 
                                div 
                                    div.titles 
                                        div #{__('academic_dean')}
                                        div #{__('drJasonYeung1')}
                                    div.name #{__('academic_dean_name')}
                                    div.edu #{__('academic_dean_edu')}
                           
                            div.staff_container.sm 
                                div.profile(style='background-size: cover; background-image: url("../../images/edwinlee.png")') 
                                div 
                                    div.titles 
                                        div #{__('associate_professor_theology')}
                                    div.name #{__('associate_professor_theology_name')}
                                    div.edu #{__('associate_professor_theology_edu')}

                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/reubenlee.png")') 
                                div 
                                    div.titles 
                                        div #{__('assistant_academic_dean')}
                                        div #{__('drReubenLee1')}
                                    div.name #{__('assistant_academic_dean_name')}
                                    div.edu #{__('assistant_academic_dean_edu')}
                            
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/samchan.png")') 
                                div
                                    div.titles  
                                        div #{__('dean_students')}
                                    div.name #{__('dean_students_name')}
                                    div.edu #{__('dean_students_edu')}
                            
                            div.staff_container.sm 
                                div.profile(style='background-size: cover; background-image: url("../../images/kristang.png")') 
                                div 
                                    div.titles 
                                        div #{__('director_administration')}
                                    div.name #{__('director_administration_name')}
                                    div.edu #{__('director_administration_edu')}
                            
                            div.staff_container.sm 
                                div.profile(style='background-size: cover; background-image: url("../../images/kevin.png")') 
                                div 
                                    div.titles 
                                        div #{__('administration_assistant_finanical')}
                                    div.name #{__('administration_assistant_finanical_name')}
                                    div.edu #{__('administration_assistant_finanical_edu')}
                                                  
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/grace.png")') 
                                div
                                    div.titles  
                                        div #{__('administration_assistant_library')}
                                    div.name #{__('administration_assistant_library_name')}
                                    div.edu #{__('administration_assistant_library_edu')}
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/zionwu.png")') 
                                div 
                                    div.titles 
                                        div #{__('director_ccst_van_choir')}
                                        div #{__('drzionwu_2')}
                                    div.name #{__('director_ccst_van_choir_name')}
                                    div.edu #{__('director_ccst_van_choir_edu')}

                            div.staff_container.sm 
                                div.profile(style='background-size: cover; background-image: url("../../images/alisonyeung.png")') 
                                div 
                                    div.titles 
                                        div #{__('counsellor_spiritual')}
                                    div.name #{__('counsellor_spiritual_name')} 
                                    div.edu #{__('counsellor_spiritual_edu')}

                            div.staff_container.sm 
                                div.profile 
                                div 
                                    div.titles 
                                        div #{__('director_extended_edu')}
                                    div.name #{__('director_extended_edu_name')} 
                                    div.edu #{__('director_extended_edu_edu')}

                        div.staffs
                            div.staff_container 
                                div.profile
                                div
                                    div.titles  
                                        div #{__('emeritusProfessor')}
                                    div.name #{__('drJohnHsu')}
                                    div.edu #{__('emeritusProfessor_edu')}
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/edwinlee.png")') 
                                div 
                                    div.titles 
                                        div #{__('associate_professor_theology')}
                                    div.name #{__('associate_professor_theology_name')}
                                    div.edu #{__('associate_professor_theology_edu')}
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/kristang.png")') 
                                div 
                                    div.titles 
                                        div #{__('director_administration')}
                                    div.name #{__('director_administration_name')}
                                    div.edu #{__('director_administration_edu')}
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/kevin.png")') 
                                div 
                                    div.titles 
                                        div #{__('administration_assistant_finanical')}
                                    div.name #{__('administration_assistant_finanical_name')}
                                    div.edu #{__('administration_assistant_finanical_edu')}
                            div.staff_container 
                                div.profile(style='background-size: cover; background-image: url("../../images/alisonyeung.png")') 
                                div 
                                    div.titles 
                                        div #{__('counsellor_spiritual')}
                                    div.name #{__('counsellor_spiritual_name')}      
                                    div.edu #{__('counsellor_spiritual_edu')} 
                            div.staff_container 
                                div.profile 
                                div 
                                    div.titles 
                                        div #{__('director_extended_edu')}
                                    div.name #{__('director_extended_edu_name')} 
                                    div.edu #{__('director_extended_edu_edu')}                                                                                                                                                                                                                 

                section(id='board')
                    h1
                        span #{__('ccst_van_board')}
                    div #{__('ccst_van_board_desc')}
                    div
                        div.member_container 
                            div #{__('chairperson')}
                            div #{__('chairperson_name')}                    
                        div.member_container 
                            div #{__('vice_chair')}
                            div #{__('vice_chair_name')}                    
                        div.member_container 
                            div #{__('treasure')}
                            div #{__('treasure_name')}                    
                        div.member_container 
                            div #{__('secretary')}
                            div #{__('secretary_name')}                    
                        div.member_container 
                            div #{__('committee')}
                            div
                                div #{__('committee_name_1')}
                                div #{__('committee_name_2')}
                                div #{__('committee_name_3')}
                                div #{__('committee_name_4')}
                                div #{__('committee_name_5')}
                                div #{__('committee_name_6')}
                                div #{__('committee_name_7')}
                                div #{__('committee_name_8')}                     

                section(id='accreditation') 
                    h1
                        span #{__('accreditation')}
                    ul.numbering
                        li 
                            div #{__('accreditation_2')}
                            div #{__('accreditation_2_desc')}
                        li 
                            div #{__('accreditation_3')}
                            div.link_container
                                i.material-icons link
                                a(href=__('accreditation_3_link')) #{__('accreditation_3_link')} 
                            div #{__('accreditation_3_desc')}


                section(id='contactus')
                    h1
                        span #{__('contactus')}
                    div.container
                        div.details 
                            div #{__('address')} 
                            div #{__('mailing_address')}
                        div.details
                            div!= __('vancouver_office')
                            div #{__('office_address')}
                        div.details
                            div #{__('telephone')}
                            div 778-251-5678
                        div.details
                            div #{__('email')}
                            div info@ccstvan.ca

