extends admissions

block admission-content 

    div.container.section.programs
        div.header
            div.title #{__('program')}
        ul.desc-container
            li.box-container
                div.title #{__('progDMin')}
                div.context #{__('progDMinDesc')}
                div.detail-btn #{__('fulldetail')}
            li.box-container
                div.title #{__('progMDiv')}
                div.context #{__('progMDivDesc')}
                div.detail-btn #{__('fulldetail')}
            li.box-container
                div.title #{__('progMts')}
                div.context #{__('progMtsDesc')}                        
                div.detail-btn #{__('fulldetail')}
            li.box-container   
                div.title #{__('progDipcs')}
                div.context #{__('progDipcsDesc')}                        
                div.detail-btn #{__('fulldetail')}
            li.box-container
                div.title #{__('progNonDegree')}
                div.context #{__('progNonDegreeDesc')}                        
                div.detail-btn #{__('fulldetail')}
            li.box-container
                div.title #{__('progAudit')}
                div.context #{__('progAuditDesc')}                        
                div.detail-btn #{__('fulldetail')}