extends admissions

block admission-content
    div.container.section.finanical
        div.header 
            div.title!= __('financialAssistance')
        ul.desc-container
            li.pt-title #{__('finanicalAssistance1')}
            li.indent-1 #{__('finanicalAssistance1_detail')}
            li.indent-1
                ul.numbering
                    li #{__('finanicalAssistance1_1')}
                    li  #{__('finanicalAssistance1_2')}  
            li.pt-title #{__('finanicalAssistance1')}
            li.indent-1 #{__('finanicalAssistance1_detail')} 
            li.pt-title #{__('finanicalAssistance3')}
            li.indent-1 #{__('finanicalAssistance3_detail')}
            li.indent-1
                ul.numbering
                    li #{__('finanicalAssistance3_1')}
                    li  #{__('finanicalAssistance3_2')}
                    li #{__('finanicalAssistance3_3')}
                    li  #{__('finanicalAssistance3_4')}     
            li.pt-title #{__('finanicalAssistance4')}
            li.indent-1 #{__('finanicalAssistance4_detail')}                                                                

    