extends admissions

block admission-content
    div.container.section.van-characteristics
        div.header 
            div.title #{__('vanCharacterTitle')}
        ul.desc-container
            li.desc #{__('vanCharacter1')}
            li.desc #{__('vanCharacter2')}
            li.desc #{__('vanCharacter3')}
            li.desc #{__('vanCharacter4')}
            li.desc #{__('vanCharacter5')}
            li.desc #{__('vanCharacter6')}

    div.container.section.apply
        div.header
            div.title #{__('applyTitle')}
        ul.desc-container
            li.applyDetail
                div.header #{__('applySubTitle1')}
                ul.desc
                    li #{__('apply1_1')}

    div.container.section.no-box.programs
        div.header
            div.title #{__('program')}
        ul.desc-container
            li.program
                div.header #{__('progDMin')}
                div.desc #{__('progDMinDesc')}
                div.detail-btn #{__('fulldetail')}
            li.program
                div.header #{__('progMDiv')}
                div.desc #{__('progDMinDesc')}
                div.detail-btn #{__('fulldetail')}
            li.program
                div.header #{__('progMts')}
                div.desc #{__('progDMinDesc')}                        
                div.detail-btn #{__('fulldetail')}
            li.program   
                div.header #{__('progDipcs')}
                div.desc #{__('progDMinDesc')}                        
                div.detail-btn #{__('fulldetail')}
            li.program
                div.header #{__('progNonDegree')}
                div.desc #{__('progDMinDesc')}                        
                div.detail-btn #{__('fulldetail')}
            li.program
                div.header #{__('progAudit')}
                div.desc #{__('progDMinDesc')}                        
                div.detail-btn #{__('fulldetail')}