extends admissions

block admission-content
    div.container.section.van-characteristics
        div.header 
            div.title #{__('vanCharacterTitle')}
        ul.desc-container
            li 
                div.pt-title #{__('vanCharacter1Title')}
                div #{__('vanCharacter1')}
            li 
                div.pt-title #{__('vanCharacter2Title')}
                div #{__('vanCharacter2')}
            li 
                div.pt-title #{__('vanCharacter3Title')}
                div #{__('vanCharacter3')}
            li 
                div.pt-title #{__('vanCharacter4Title')}
                div #{__('vanCharacter4')}
            li 
                div.pt-title #{__('vanCharacter5Title')}
                div #{__('vanCharacter5')}
            li 
                div.pt-title #{__('vanCharacter6Title')}
                div #{__('vanCharacter6')}

    