extends admissions

block admission-content
    div.container.section.fees
        div.header
            div.title #{__('applicationFeeTitle')}
        ul.desc-container
            li.pt-title #{__('applicationFeesAndDeposits')}
            li.indent-1.cost-table 
                span #{__('applicationFee1')}
                span $50
            li.indent-1.cost-table 
                span #{__('applicationFee2')}
                span $100
            li.indent-1.cost-table 
                span #{__('applicationFee3')}
                span $20
            li.indent-1.cost-table 
                span #{__('applicationFee4')}
                span $300
            li.indent-1.cost-table 
                span #{__('applicationFee5')}
                span $500

            li.pt-title #{__('TuitionAndBasicFees')}
            li.indent-1.cost-table 
                span #{__('tuitionAndBasicFee1')}
                span $840
            li.indent-1.cost-table 
                span #{__('tuitionAndBasicFee2')}
                span $12
            li.indent-1.cost-table 
                span #{__('tuitionAndBasicFee3')}
                span $10
            li.indent-1.cost-table 
                span #{__('tuitionAndBasicFee4')}
                span $30
            li.indent-1.cost-table.border-top
                span #{__('tuitionAndBasicFee5')}
                span $892

            li.pt-title #{__('doctorOfMinistryTuitionFees')}
            li.indent-1.cost-table 
                span #{__('dMinFee1')}
                span $50
            li.indent-1.cost-table 
                span #{__('dMinFee2')}
                span $1,200

            li.pt-title #{__('generalFeeSchedule')}
            li.indent-1.cost-table 
                span #{__('generalFee1')}
                span $400
            li.indent-1.cost-table 
                span #{__('generalFee2')}
                span $20
            li.indent-1.cost-table 
                span #{__('generalFee3')}
                span $25
            li.indent-1
                span #{__('generalFee4')}
                span $10
            li.indent-1.cost-table 
                span #{__('generalFee5')}
                span $10
            li.indent-1.cost-table 
                span #{__('generalFee6')}
                span $8
            li.indent-1.cost-table 
                span #{__('generalFee7')}
                span $20
            li.indent-1.cost-table 
                span #{__('generalFee8')} 
                span $50    
            li.indent-1.cost-table 
                span #{__('generalFee9')}
                span $100                           

            li.pt-title #{__('dropOffTitle')}
            li.numbering.indent-1
                div 1.
                div #{__('dropOff1')}
            li.numbering.indent-1
                div 2.
                div #{__('dropOff2')}
            li.numbering.indent-1
                div 3.
                div #{__('dropOff3')}
            li.numbering.indent-1
                div 4.
                div #{__('dropOff4')}
            li.numbering.indent-1
                div 5.
                div #{__('dropOff5')}
            li.indent-1
                table(cellspacing='0')
                    thead
                        tr
                            th.date #{__('dropOffDate')}
                            th.percentage #{__('withdrawalAndRefund')}
                            th.grade #{__('transcript')}
                        tbody
                    tr
                        td #{__('dropOffDate1')}
                        td 100%
                        td #{__('na')}
                    tr
                        td #{__('dropOffDate2')}
                        td 50%
                        td #{__('gradeW')}
                    tr
                        td #{__('dropOffDate3')}
                        td 0%
                        td #{__('gradeF')}                                        



            li.note #{__('feeNote')}

