extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.home.module
    div.container
      div.top-image-container
          div.table-cell
            div.school_logo
            div.motto_container
              div.motto.title #{__('motto1_title')}
              div.motto 
                div #{__('motto1a')}
                div #{__('motto1b')}
              div.motto.title #{__('motto2_title')}
              div.motto #{__('motto2')}
              div.motto.title #{__('motto3_title')}
              div.motto #{__('motto3')}
              ul.actions
                li.action 
                  a(href='/admissions/programs')
                    div 
                      i.material-icons arrow_right_alt 
                      span #{__('findAProgram')}
                li.action  
                  a(href='/admissions/apply')
                    div 
                      i.material-icons arrow_right_alt
                      span #{__('applyTo')}
                
              
              //- div.logo
              //- div.content
              //-   div.mottos
              //-     div #{__('motto1')}
              //-     div #{__('motto2')}

              //-     ul.actions
              //-       li.action 
              //-         i.material-icons arrow_right_alt
              //-         a(href='/admissions/programs') #{__('findAProgram')}
              //-       li.action  
              //-         i.material-icons arrow_right_alt
              //-         a(href='/admissions/apply') #{__('applyTo')}
              //-       //- li.action  
              //-       //-   i.material-icons arrow_right_alt
              //-       //-   span #{__('requestInfo')}
              //-       //- li.action  
              //-       //-   i.material-icons arrow_right_alt
              //-       //-   span #{__('knowMoreAboutUs')}


      section
        h1 
            span #{__('whatHappening')}


        div.container.section.side-by-side.building(style='background-image:url(../images/classroom.png)')
            div.special #{__('news_chineseonly')}             
            div.header 
              div.announce
                div.date 
                  div #{__('news3_title')}
                div
                  div #{__('news3_date1')} 
                  div #{__('news3_date2')} 
                  div #{__('news3_date3')}

            ul.desc-container
              li(style='font-size:2rem;font-weight:bold;') #{__('news3_1')}
              li(style='font-size:1.25rem;') #{__('news3_2')}
              li 
                ul
                  li(style='list-style: disc; margin-left: 25px;') #{__('news3_3')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news3_4')}
              li #{__('news3_5')}
              li #{__('news3_6')}
              li #{__('news3_9')}
              li 
                a(style='color:black',target='_blank',href='mailto:info@ccstvan.ca') #{__('news3_10')}
              li #{__('news3_7')}
              li 
                span #{__('news3_8a')}
                span 
                  a(style='color: black',target='_blank',href='https://forms.gle/CzTpEcz1vepcYZUG6') #{__('news3_8b')}

              li(style='font-size:1.25rem') #{__('news3_11')}


            
        div.container.section.principle
            div.special #{__('news_chineseonly')}              
            div.header 
              div.announce
                div.date #{__('news2_title')}
               
            ul.desc-container
              li #{__('news2_1')}
              li 
                div
                  span.tab1 
                  span #{__('news2_2')}
              li
                div 
                  span.tab1
                  span #{__('news2_3')}
              li 
                div 
                  span.tab1
                  span #{__('news2_4')}
              li 
                div 
                  span.tab1
                  span #{__('news2_5')}
              li 
                div 
                  span.tab1
                  span #{__('news2_6')}
              li 
                div 
                  span.tab1
                  span #{__('news2_7')}
              li 
                div 
                  span.tab1
                  span #{__('news2_8')}
              li 
                div.tab1
                  strong #{__('news2_9')}
                  span #{__('news2_9b')}                  
              li 
                div.tab1
                  strong #{__('news2_10')}
                  span #{__('news2_10b')}
              li 
                div.tab1
                  strong #{__('news2_11')}
                  span #{__('news2_11b')}
              li 
                div.tab1
                  strong #{__('news2_12')}
                  span #{__('news2_12b')}
              li 
                div.tab1
                  strong #{__('news2_13')}
                  span #{__('news2_13b')}
              li 
                div 
                  span.tab1
                  span #{__('news2_14')}
                  a(class='email' href='mailto:kristang@ccstvan.ca' target='_top') #{__('news2_14b')}
                  span #{__('news2_14c')}
                  a(class='email' href='http://www.ccstvan.ca' target='_top') #{__('news2_14d')}
                  span #{__('news2_14e')}

              li #{__('news2_15')}
              li 
                div #{__('news2_16')}
                div #{__('news2_17')}
              li
                div #{__('news2_18')}
                div #{__('news2_19')}

        div.container.section.side-by-side.building
            div.special #{__('news_chineseonly')}
              //- div.announce 
              //-   div #{__('news1_announce1')}
              //-   div #{__('news1_announce2')}
              //-   div #{__('news1_announce3')}
              //-   div #{__('news1_announce4')}              
            div.header 
              div.announce
                div #{__('news1_title')}
                div.date #{__('news1_title1')} 
               
            ul.desc-container
              li #{__('news1_head')}
              li
                ul.pointform
                  li 
                    div 
                      strong #{__('news1_1h')}
                    div #{__('news1_1')}
                  li 
                    div 
                      strong #{__('news1_2h')}
                    div #{__('news1_2')}
                  li 
                    div 
                      strong #{__('news1_3h')}
                    div #{__('news1_3')}
                  li 
                    div 
                      strong #{__('news1_4h')}
                    div #{__('news1_4a')}
                    div #{__('news1_4b')}
                    div #{__('news1_4c')}                                        







  script(src='javascripts/app/index.js')