extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.home.module
    div.container

      div.ccstvan
        div.image
        div.text
          div.title #{__('motto1_title')}
          div.motto 
            div #{__('motto1a')}
            div #{__('motto1b')}
          div.title #{__('motto2_title')}
          div.motto #{__('motto2')}
          div.title #{__('motto3_title')}
          div.motto #{__('motto3')}

      div.ccstvan(style="padding-bottom: 25px; align-items: center;border-bottom: 1px solid gray;margin-bottom: 25px;flex-direction: inherit")
        div.logo
        div(style="flex-grow: 1")
          ul.actions
            li.action(style="width:49%") 
              a(href='/admissions/programs')
                  i.material-icons arrow_right_alt 
                  span #{__('findAProgram')}
            li.action(style="width:49%")   
              a(href='/admissions/apply')
                  i.material-icons arrow_right_alt
                  span #{__('applyTo')}
          ul.actions
            li.action(style="background-color: orangered; width:100%;")
              a(href="./special-notices/covid") COVID-19 Notice
          ul.actions.link
            li.action(style="width:49%")
              a(href="#dean-of-student") #{__('dean_of_students_sharing')}
            li.action(style="width:49%") 
              a(href="#news1") #{__('news1_title')}

      section
        div.events_heading #{__('latest_event')}

        div.events
          div.event_row
            a.event.youtube(href="/events/theology" target="_blank")
              div.container
                div.icon
                  span.material-icons video_library
                div.content
                  div.special #{__('events_chineseonly')}
                  div.title #{__('news3_title')}
                  div #{__('news3_1')} 
                  div #{__('news3_2')}
              
              a.event.class(href="/events/mar22" target="_blank")
                div.container
                  div.calendar
                    div.year 2021
                    div.date
                      div #{(__('event_mar22_16'))}
                      div #{(__('event_mar22_17'))}                      
                  div.content
                    div.special #{__('events_chineseonly')}
                    div.title #{(__('event_mar22_2'))}

          div.event_row
            a.event.class(href="/events/etc" target="_blank")
              div.container
                div.calendar
                  div.year 2021
                  div.date
                    div #{(__('event_ect_date1'))}
                    div #{(__('event_ect_date2'))}                      
                    div(style="padding-bottom:5px") #{(__('event_ect_date3'))}                      
                    div #{(__('event_ect_date4'))}                      
                    div #{(__('event_ect_date5'))}                                                                                 
                div.content
                  div.special #{__('events_chineseonly')}
                  div #{(__('event_etc_1'))}
                  div.title #{(__('event_etc_2'))}



      section       
        div.container.section.dean-of-student#dean-of-student 
            div.special #{__('news_chineseonly')}              
            div.header 
              div.announce
                div.date #{__('dean_of_students_sharing')}
               
            ul.desc-container
              li 
                div #{__('dean_of_students_sharing1')}                                       
                div #{__('dean_of_students_sharing2')}
              li(style="font-weight:bold;") #{__('dean_of_students_sharing3')}
              li 
              li #{__('dean_of_students_sharing4')}
              li #{__('dean_of_students_sharing5')}
              li #{__('dean_of_students_sharing6')}
              li
                ul(style="margin-left:20px;") 
                  li(style="list-style: decimal;padding-bottom: 15px;") 
                    div(style="font-weight:bold") #{__('dean_of_students_sharing7')}                                       
                    div #{__('dean_of_students_sharing8')}
                  li(style="list-style: decimal;padding-bottom: 15px;") 
                    div(style="font-weight:bold") #{__('dean_of_students_sharing9')}
                    div #{__('dean_of_students_sharing10')}              
                  li(style="list-style: decimal;padding-bottom: 15px;") 
                    div(style="font-weight:bold") #{__('dean_of_students_sharing11')}
                    div #{__('dean_of_students_sharing12')}
                  li(style="list-style: decimal;padding-bottom: 15px;") 
                    div(style="font-weight:bold") #{__('dean_of_students_sharing13')}
                    div #{__('dean_of_students_sharing14')}
              li 
              li #{__('dean_of_students_sharing15')}
              li #{__('dean_of_students_sharing16')}
              li #{__('dean_of_students_sharing17')}
              li #{__('dean_of_students_sharing18')}
              li #{__('dean_of_students_sharing19')}                                                



        div.container.section.building#news1
            div.special #{__('news_chineseonly')}
              //- div.announce 
              //-   div #{__('news1_announce1')}
              //-   div #{__('news1_announce2')}
              //-   div #{__('news1_announce3')}
              //-   div #{__('news1_announce4')}              
            div.header 
              div.announce
                div #{__('news1_title')}
                div.date #{__('news1_title1')} 
               
            ul.desc-container
              li #{__('news1_head')}
              li
                ul.pointform
                  li(style='padding-bottom: 1rem;')
                    div #{__('news1_1')}
                  li(style='padding-bottom: 1rem;')
                    div #{__('news1_2')}
                  li(style='padding-bottom: 1rem;')
                    div #{__('news1_3')}

                  li(style='padding-bottom: 1rem;') 
                    div #{__('news1_4')}
                    ul(style='padding-left:25px')
                      li(style='list-style:disc') 
                        div #{__('news1_4a')}
                        div #{__('news1_4a2')}
                      li(style='list-style:disc') 
                        div #{__('news1_4b')}
                        div #{__('news1_4b2')}
                      li(style='list-style:disc') 
                        div #{__('news1_4c')}
                        div
                          span #{__('news1_4c2')} &nbsp;
                          a.email(href='mailto:info@ccstvan.ca' target='_blank') info@ccstvan.ca
                          span &nbsp; #{__('news1_4c3')}
                div #{__('news1_5')}

  script(src='javascripts/app/index.js')