extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.home.module
    div.container
      div.top-image-container
          div.table-cell
            div.school_logo
            div.motto_container
              div.motto.title #{__('motto1_title')}
              div.motto 
                div #{__('motto1a')}
                div #{__('motto1b')}
              div.motto.title #{__('motto2_title')}
              div.motto #{__('motto2')}
              div.motto.title #{__('motto3_title')}
              div.motto #{__('motto3')}
              ul.actions
                li.action 
                  a(href='/admissions/programs')
                    div 
                      i.material-icons arrow_right_alt 
                      span #{__('findAProgram')}
                li.action  
                  a(href='/admissions/apply')
                    div 
                      i.material-icons arrow_right_alt
                      span #{__('applyTo')}
                
      section
        h1 
            span #{__('whatHappening')}

        div.container.section.side-by-side.building(style='background-image:url(../images/classroom.png)')
            div.special #{__('news_chineseonly')}             
            div.header 
              div.announce
                div.date 
                  div #{__('news3_title')}
                div
                  div #{__('news3_date1')} 
                  div #{__('news3_date2')} 
                  div #{__('news3_date3')}

            ul.desc-container
              li(style='font-size:2rem;font-weight:bold;') #{__('news3_1')}
              li(style='font-size:1.25rem;') #{__('news3_2')}
              li 
                ul
                  li(style='list-style: disc; margin-left: 25px;') #{__('news3_3')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news3_4')}
              li
               iframe(width="100%", height="315", src="https://www.youtube.com/embed/x3JnH_aGtxM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")

        div.container.section.side-by-side.building(style='background-image:url(../images/churchbible.png)')
            div.special #{__('news_chineseonly')}             
            div.header 
              div.announce
                div
                  div(style="padding-bottom:5px") #{__('news5_date_6')}                
                  div #{__('news5_date_1')} 
                  div #{__('news5_date_2')} 
                  div #{__('news5_date_3')}
                  div #{__('news5_date_4')}
                  div #{__('news5_date_5')}

            ul.desc-container
              li(style='font-size:2rem;font-weight:bold;') #{(__('news5_title'))}
              li(style='font-size:1.25rem;font-weight:bold;') #{__('news5_title_1')}
              li #{__('news5_speaker')}
              li  #{__('news5_desc')}
              li 
                div(style="font-weight: bold") #{(__('news5_1'))}
                div #{__('news5_1_1')}
              li
                div(style="font-weight:bold") #{__('news5_app')}
                ul
                  li(style="list-style: decimal; margin-left: 25px; ")
                    div #{__('news5_app_1')}
                    ul 
                      li(style="list-style: disc; margin-left: 25px; ") #{(__('news5_app_1a'))}
                      li(style="list-style: disc; margin-left: 25px; ") #{(__('news5_app_1b'))}
                      li(style="list-style: disc; margin-left: 25px; ") #{(__('news5_app_1c'))}
                  li #{__('news5_app_2')}
              li
                div(style="font-weight: bold") #{__('news5_fee')}
                ul
                  li(style="list-style: disc; margin-left: 25px; ") #{__('news5_fee_1')}
                  li(style="list-style: disc; margin-left: 25px; ") #{__('news5_fee_2')}
                  li(style="list-style: disc; margin-left: 25px; ") #{__('news5_fee_3')}
                  li(style="list-style: disc; margin-left: 25px; ") #{__('news5_fee_4')}
                  li(style="list-style: disc; margin-left: 25px; ") #{__('news5_fee_5')}
              li #{__('news5_address')}
              li #{__('news5_cheque')}
              li #{__('news5_tel')}   
              li 
                span #{__('news5_email')}
                a(class='email' href='mailto:info@ccstvan.ca' target='_blank')  #{(__('news5_email_link'))}
              li 
                span #{__('news5_web')}
                a(class='email' href='https://forms.gle/fyRTLSBymesxf3hi9' target='_blank')  #{(__('news5_web_link'))}
              li #{__('news5_deadline')}           

        div.container.section.side-by-side.building(style='background-image:url(../images/books2.png)')
            div.special #{__('news_chineseonly')}
            div.header 
              div.announce
                div
                  div #{__('news6_date_1')} 
                  div #{__('news6_date_2')} 
                  div #{__('news6_date_3')}
                  div #{__('news6_date_4')}
                  div #{__('news6_date_5')}
                  div #{__('news6_date_6')}                                  

            ul.desc-container
              li(style='font-size:2rem;font-weight:bold;') #{(__('news6_title'))}
              li #{(__('news6_code'))}
              li 
                strong #{(__('news6_name'))}
              li #{(__('news6_desc'))}
              li 
                strong #{(__('news6_1'))}
                div #{(__('news6_2'))}
              li #{(__('news6_3'))}                                          
              li
                strong #{(__('news6_4'))}
                ul
                  li #{(__('news6_5'))}
                  li #{(__('news6_6'))}                  
                  li #{(__('news6_7'))}                  
                  li #{(__('news6_8'))}                                    
              li 
                strong #{(__('news6_9'))}
                div #{(__('news6_11'))}
                div 
                  span #{(__('news6_12'))}
                  a(class='email' href='mailto:info@ccstvan.ca' target='_blank')  #{(__('news6_13'))}
              li 
                strong #{(__('news6_14'))}
                ul
                  li(style="list-style: disc; margin-left: 25px; ") 
                    span #{(__('news6_15'))}
                    a(class='email' href='https://forms.gle/45X9atApgc5kWonU99' target='_blank')  #{(__('news6_16'))}                    
                  li(style="list-style: disc; margin-left: 25px; ") 
                    span #{(__('news6_17'))}
                    a(class='email' href='mailto:info@ccstvan.ca' target='_blank')  info@ccstvan.ca
                    span #{(__('news6_18'))}
              li 
                strong #{(__('news6_19'))}
                ul
                  li(style="list-style: disc; margin-left: 25px; ") 
                    div #{(__('news6_20'))}
                    div #{(__('news6_21'))}
                  li(style="list-style: disc; margin-left: 25px; ") #{(__('news6_22'))}

        div.container.section.side-by-side.building(style='background-image:url(../images/group_2.png)')
            div.special #{__('news_chineseonly')}             
            div.header 
              div.announce
                div
                  div #{__('news4_date1')} 
                  div #{__('news4_date2')} 
                  div #{__('news4_date3')}
                    div #{__('news4_date4')}

            ul.desc-container
              li(style='font-size:2rem;font-weight:bold;') #{(__('news4_title'))}
              li(style='font-size:1.25rem;font-weight:bold;') #{__('news4_1')}
              li #{__('news4_2')}
              li
                div(style='font-weight: bold') #{(__('news4_3'))}
                div #{(__('news4_4'))}
              li 
                div(style='font-weight: bold') #{(__('news4_5'))}
                ul
                  li(style='list-style: decimal; margin-left: 25px;') 
                    div #{(__('news4_6'))}
                    ul
                      li(style='list-style: disc; margin-left: 25px;') #{__('news4_6a')}
                      li(style='list-style: disc; margin-left: 25px;') #{__('news4_6b')}
                  li(style='list-style: decimal; margin-left: 25px;') #{(__('news4_7'))}
              li 
                div(style='font-weight: bold') #{(__('news4_8'))}
                ul
                  li(style='list-style: disc; margin-left: 25px;') #{__('news4_8a')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news4_8b')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news4_8c')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news4_8d')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news4_8e')}
                  li(style='list-style: disc; margin-left: 25px;') #{__('news4_8f')}
              li #{(__('news4_9'))}
              li #{(__('news4_10'))}
              li #{(__('news4_11'))}
              li #{(__('news4_12'))}
              li #{(__('news4_13'))}
              li 
                span #{(__('news4_14'))}
                a(class='email' href='mailto:info@ccstvan.ca' target='_blank')  #{(__('news4_14b'))}
              li 
                div #{(__('news4_15'))}
                div
                  a(class='email' href='https://forms.gle/vFsmunFDWqbBKXu7A' target='_blank') #{(__('news4_15b'))}
                div #{(__('news4_15c'))}


            
        div.container.section.principle
            div.special #{__('news_chineseonly')}              
            div.header 
              div.announce
                div.date #{__('news2_title')}
               
            ul.desc-container
              li #{__('news2_1')}

              li #{__('news2_2')}

              li #{__('news2_3')}

              li #{__('news2_4')}

              li #{__('news2_5')}

              li 
                span #{__('news2_6')}
                a(href="/admissions/international" style="color:black;") #{__('news2_6b')}

              li 
                div.tab1
                  strong #{__('news2_7')}
                div.tab1 #{__('news2_7b')}
              li 
                div.tab1
                  strong #{__('news2_8')}
                div.tab1 #{__('news2_8b')}
              li 
                div.tab1
                  strong #{__('news2_9')}
                div.tab1 #{__('news2_9b')}

              li #{__('news2_10')}

              li 
                div #{__('news2_11')}
                div #{__('news2_11b')}
              li 
                div #{__('news2_12')}
                div #{__('news2_13')}
              li
                div #{__('news2_14')}
                div #{__('news2_15')}

        div.container.section.side-by-side.building
            div.special #{__('news_chineseonly')}
              //- div.announce 
              //-   div #{__('news1_announce1')}
              //-   div #{__('news1_announce2')}
              //-   div #{__('news1_announce3')}
              //-   div #{__('news1_announce4')}              
            div.header 
              div.announce
                div #{__('news1_title')}
                div.date #{__('news1_title1')} 
               
            ul.desc-container
              li #{__('news1_head')}
              li
                ul.pointform
                  li(style='padding-bottom: 1rem;')
                    div 
                      strong #{__('news1_1h')}
                    div #{__('news1_1')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_2h')}
                    div #{__('news1_2')}
                    div #{__('news1_2a')}
                    div #{__('news1_2b')}
                    div #{__('news1_2c')}
                    div #{__('news1_2d')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_3h')}
                    div #{__('news1_3')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_4h')}
                    div #{__('news1_4a')}
                    div 
                      span #{__('news1_4b')}
                      strong #{__('news1_4b2')}
                    div #{__('news1_4c')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_5h')}
                    div #{__('news1_5')}

                div #{__('news1_6')}

  script(src='javascripts/app/index.js')