extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.home.module
    div.container
      div.top-image-container
          div.table-cell
            div.school_logo
            div.motto_container
              div.motto.title #{__('motto1_title')}
              div.motto #{__('motto1')}
              div.motto.title #{__('motto2_title')}
              div.motto #{__('motto2')}
              div.motto.title #{__('motto3_title')}
              div.motto #{__('motto3')}
              ul.actions
                li.action 
                  a(href='/admissions/programs')
                    div 
                      i.material-icons arrow_right_alt 
                      span #{__('findAProgram')}
                li.action  
                  a(href='/admissions/apply')
                    div 
                      i.material-icons arrow_right_alt
                      span #{__('applyTo')}
                
              
              //- div.logo
              //- div.content
              //-   div.mottos
              //-     div #{__('motto1')}
              //-     div #{__('motto2')}

              //-     ul.actions
              //-       li.action 
              //-         i.material-icons arrow_right_alt
              //-         a(href='/admissions/programs') #{__('findAProgram')}
              //-       li.action  
              //-         i.material-icons arrow_right_alt
              //-         a(href='/admissions/apply') #{__('applyTo')}
              //-       //- li.action  
              //-       //-   i.material-icons arrow_right_alt
              //-       //-   span #{__('requestInfo')}
              //-       //- li.action  
              //-       //-   i.material-icons arrow_right_alt
              //-       //-   span #{__('knowMoreAboutUs')}


      section
        h1 
            span #{__('whatHappening')}
        
        div.container.section.side-by-side.building
            div.special #{__('news_chineseonly')}
              //- div.announce 
              //-   div #{__('news1_announce1')}
              //-   div #{__('news1_announce2')}
              //-   div #{__('news1_announce3')}
              //-   div #{__('news1_announce4')}
              
            div.header 
              div.announce
                div #{__('news1_title')}
                div.date #{__('news1_title1')} 
               
            ul.desc-container
              li #{__('news1_1')}
              li #{__('news1_2')}
              li 
                | #{__('news1_3a')}
                a(class='email' href='mailto:info@ccstvan.ca' target='_top') info@ccstvan.ca
                | #{__('news1_3b')}
                a(class='email' href='mailto:kevincheung@ccstvan.ca' target='_top') kevincheung@ccstvan.ca
              li 
                | #{__('news1_4')}
                a(class='email' href='mailto:library@ccstvan.ca' target='_top') library@ccstvan.ca
              li #{__('news1_5')}
              li #{__('news1_6')}
              li #{__('news1_7')}








  script(src='javascripts/app/index.js')