extends layout

block append styles
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div.home.module
    div.container

      div.ccstvan
        div.image
        div.text
          div.title #{__('motto1_title')}
          div.motto 
            div #{__('motto1a')}
            div #{__('motto1b')}
          div.title #{__('motto2_title')}
          div.motto #{__('motto2')}
          div.title #{__('motto3_title')}
          div.motto #{__('motto3')}

      div.ccstvan(style="padding-bottom: 25px; align-items: center;border-bottom: 1px solid gray;margin-bottom: 25px;flex-direction: inherit")
        div.logo
        div(style="flex-grow: 1")
          ul.actions
            li.action(style="width:49%") 
              a(href='/admissions/programs')
                  i.material-icons arrow_right_alt 
                  span #{__('findAProgram')}
            li.action(style="width:49%")   
              a(href='/admissions/apply')
                  i.material-icons arrow_right_alt
                  span #{__('applyTo')}
          ul.actions
            li.action(style="background-color: orangered; width:100%;")
              a(href="./special-notices/covid") COVID-19 Notice
          ul.actions.link
            li.action(style="width:24%") 
              a(href="#news3") #{__('news3_title')}
            li.action(style="width:24%") 
              a(href="#news5" style="display: block;") 
                span #{(__('news5_title'))}                
            li.action(style="width:24%") 
              a(href="#news6" style="display: block;") 
                span #{(__('news6_title'))}
            li.action(style="width:24%") 
              a(href="#news2") #{__('news2_title')}
            li.action(style="width:24%") 
              a(href="#news1") #{__('news1_title')}


      section
        div.container.section.side-by-side.building(style='background-image:url(../images/classroom.png)')#news3
          div.special #{__('news_chineseonly')}             
          div.header 
            div.announce
              div.date 
                div #{__('news3_title')}
              div
                div #{__('news3_date1')} 
                div #{__('news3_date2')} 
                div #{__('news3_date3')}

          ul.desc-container
            li(style='font-size:2rem;font-weight:bold;') #{__('news3_1')}
            li(style='font-size:1.25rem;') #{__('news3_2')}
            li 
              ul
                li(style='list-style: disc; margin-left: 25px;') #{__('news3_3')}
                li(style='list-style: disc; margin-left: 25px;') #{__('news3_4')}
            li
              iframe(width="100%", height="315", src="https://www.youtube.com/embed/x3JnH_aGtxM", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")       

        div.container.section.side-by-side.building(style='background-image:url(../images/books2.png)')#news5
          div.special #{__('news_chineseonly')}
          div.header 
            div.announce
              div
                div #{__('news5_date_1')} 
                div.date-detail
                  div #{__('news5_date_2')} 
                  div #{__('news5_date_3')}
                  div #{__('news5_date_4')} 
                div.date-detail
                  div #{__('news5_date_5')}    
                  div #{__('news5_date_6')}
                  div #{__('news5_date_7')}
                div.date-detail
                  div #{__('news5_date_8')}
                  div #{__('news5_date_9')}      
                div.date-detail
                  div #{__('news5_date_10')}  
                  div #{__('news5_date_11')}                                                       

          ul.desc-container
            li(style='font-size:2rem;font-weight:bold;') #{(__('news5_title'))}
            li #{(__('news5_desc'))}
            li 
              strong(style='background-color: black;color: white;padding: 3px;') #{(__('news5_name'))}
            li 
              strong #{(__('news5_1'))}
              div #{(__('news5_2'))}
            li
              strong #{(__('news5_3'))}
              div #{(__('news5_4'))}
            li 
              strong #{(__('news5_5'))}
              div #{(__('news5_6'))}
              div #{(__('news5_7'))}
            li
              strong #{(__('news5_8'))}
              div
                  a(class='email' href='mailto:gracechan@ccstvan.ca' target='_blank') gracechan@ccstvan.ca
                  span #{__('news5_9')}
                   

        div.container.section.side-by-side.building(style='background-image:url(../images/books2.png)')#news6
            div.special #{__('news_chineseonly')}
            div.header 
              div.announce
                div
                  div #{__('news6_date_1')} 
                  div.date-detail
                    div #{__('news6_date_2')} 
                    div #{__('news6_date_3')}
                  div.date-detail
                    div #{__('news6_date_4')} 
                    div #{__('news6_date_5')}                               

            ul.desc-container
              li(style='font-size:2rem;font-weight:bold;') #{(__('news6_title'))}
              li 
                strong #{(__('news6_name'))}
              li 
                strong #{(__('news6_1'))}
                div #{(__('news6_2'))}
              li
                strong #{(__('news6_3'))}
                ul
                  li #{(__('news6_4'))}
                  li #{(__('news6_5'))}                  
              li 
                strong #{(__('news6_6'))}
                div #{(__('news6_7'))}
              li(style='margin-bottom: 2px')
                strong(style='background-color: black;color: white;padding: 3px;') #{(__('news6_8'))}
              li
                strong #{__('news6_9')}
                ul
                  li #{__('news6_10')}
                  li #{__('news6_11')}
                  li #{__('news6_12')}
                  li #{__('news6_13')}
                  li #{__('news6_14')}
              li
                strong #{__('news6_15')}
                ul
                  li #{__('news6_16')}
                  li #{__('news6_17')}
                  li
                    span #{__('news6_18')}
                    a(class='email' href='info@ccstvan.ca' target='_blank') #{__('news6_19')}
              li
                strong #{(__('news6_20'))}
                ul
                  li 
                    span #{__('news6_21')}
                    a(class='email' href='https://forms.gle/7BwKhuzur8kJn8PXA' target='_blank') #{__('news6_22')}
                  li
                    span #{__('news6_23')}
                    a.email(href='mailto:info@ccstvan.ca' target='_blank') info@ccstvan.ca
                    span #{__('news6_25')}
              li
                strong #{__('news6_26')}
                ul(style='padding-left: 20px;')
                  li(style='list-style:disc')  
                    div #{__('news6_27')}
                    div  #{__('news6_28')}
                  li(style='list-style:disc')  
                    div  #{__('news6_29')}
                    div  #{__('news6_30')}
                   
        div.container.section.principle#news2
            div.special #{__('news_chineseonly')}              
            div.header 
              div.announce
                div.date #{__('news2_title')}
               
            ul.desc-container
              li #{__('news2_1')}
              li #{__('news2_2')}
              li #{__('news2_3')}
              li #{__('news2_4')}
              li #{__('news2_5')}
              li #{__('news2_6')}
              li #{__('news2_7')}              
              li
                div #{__('news2_sign2')}
                div #{__('news2_sign3')}
                div #{__('news2_date')}
                div #{__('news2_date2')}

        div.container.section.side-by-side.building#news1
            div.special #{__('news_chineseonly')}
              //- div.announce 
              //-   div #{__('news1_announce1')}
              //-   div #{__('news1_announce2')}
              //-   div #{__('news1_announce3')}
              //-   div #{__('news1_announce4')}              
            div.header 
              div.announce
                div #{__('news1_title')}
                div.date #{__('news1_title1')} 
               
            ul.desc-container
              li #{__('news1_head')}
              li
                ul.pointform
                  li(style='padding-bottom: 1rem;')
                    div 
                      strong #{__('news1_1h')}
                    div #{__('news1_1')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_2h')}
                    div #{__('news1_2')}
                    ul(style='padding-left:25px')
                      li(style='list-style:disc') #{__('news1_2a')}
                      li(style='list-style:disc') #{__('news1_2b')}
                      li(style='list-style:disc') #{__('news1_2c')}
                      li(style='list-style:disc') #{__('news1_2d')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_3h')}
                    div #{__('news1_3')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_4h')}
                    div #{__('news1_4a')}
                    div #{__('news1_4b')}
                    div 
                      strong #{__('news1_4b2')}
                    div #{__('news1_4c')}
                  li(style='padding-bottom: 1rem;') 
                    div 
                      strong #{__('news1_5h')}
                    div #{__('news1_5')}

                div #{__('news1_6')}

  script(src='javascripts/app/index.js')