doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='format-detection' content='telephone=no')
    meta(name='description' content='Canadian Chinese School of Theology Vancouver')
    meta(name='googlebot' content='index, follow')
    
    title #{__('title')}
      
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
        
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+SC:300, 400')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')

    block styles

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/app/contact.js')
    
    block scripts

  body(class= __('locale'))
    div.navbar.module
        nav.container        
            ul(class='navbar-tools')
                li(class='nav-tool')
                    a(id='langBtn' onclick="window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf('?')) + '?lang=" + __('other_locale') + "'") 
                        i(class="material-icons md-36") translate

            div(class='navbar-items-container')
                div
                    a(class='navbar-logo' href="/")
                    div.title #{__('title')}
                ul(class='navbar-items links')
                    li(class='nav-link')
                        a(href='/admissions/vancouver') #{__('admissions')}
                    li(class='nav-link')
                        a(href='/student-resources') #{__('studentResources')}
                    li(class='nav-link')
                        a(href='/academic/instructors') #{__('academics')}
                    li(class='nav-link')
                        a(href='/aboutus') #{__('about_us')}

    block content

    div.footer
        div.container
            div.title #{__('title')}
            div.informations
                div.detailContainer
                    div.details 
                        div #{__('address')} 
                        div #{__('mailing_address')}
                    div.details
                        div!= __('vancouver_office')
                        div #{__('office_address')}
                    div.details
                        div #{__('telephone')}
                        div 778-251-5678
                    div.details
                        div #{__('email')}
                        div                         
                            a(class='email' href='mailto:info@ccstvan.ca' target='_top') info@ccstvan.ca

                div.inputs
                    h2 #{__('leave_message')}
                    input(type='text' id='sendFeedbackName' name="name" placeholder=__('contact_name'))
                    div#name.error_msg #{__('contact_name_error')}
                    input(type='text' id='sendFeedbackEmail' name='email' placeholder=__('contact_email'))
                    div#email.error_msg #{__('contact_email_error')}
                    textarea(id='sendFeedbackText' placeholder=__('contact_msg'))
                    div#message.error_msg #{__('contact_msg_error')}
                    input(type='button' id='sendFeedbackBtn' name='sendBtn' value=__('contact_send'))
                    div#messageSend.error_msg #{__('msg_send')}

            div.color_border
                div.blue
                div.yellow
                div.red
            div.copyright-container #{__('copyright')}
