extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/student-resources.css')

block content

    div.student-resources.module
        div.container
            include side-nav
            +side-nav('studentResources', [
                {name:'library', link:'#library'}, 
                {name:'weeklyMeeting', link:'#weekly-meeting'}, 
                {name:'studentUnion', link:'#student-union'}, 
                {name:'studentCamp', link:'#student-camp'}, 
                {name:'retreat', link:'#retreat'}, 
                {name:'singspiration', link:'#singspiration'}])

            div.context
                section(class='library', id='library')
                    h1
                        span #{__('library')}
                    div 
                        div #{__('libraryDesc')}
                        div.link_container
                            i.material-icons link
                            a(href=__('libraryLink')) #{__('libraryLink')} 

                section(class='weekly-meeting', id='weekly-meeting')
                    h1
                        span #{__('weeklyMeeting')}
                    div #{__('weeklyMeetingDesc')}

                section(class='student-union', id='student-union') 
                    h1
                        span #{__('studentUnion')}
                    div #{__('studentUnionDesc')}

                section(class='student-camp', id='student-camp') 
                    h1
                        span #{__('studentCamp')}
                    div #{__('studentCampDesc')}

                section(class='retreat', id='retreat') 
                    h1
                        span #{__('retreat')}
                    div #{__('retreatDesc')}  

                section(class='singspiration', id='singspiration') 
                    h1
                        span #{__('singspiration')}
                    div #{__('singspirationDesc')} 
