extends index
include instructor

block append styles
    link(rel='stylesheet' href='/stylesheets/academic/schedules.css')

block academic-content
    section
        h1 
            span #{__('course_schedule_desc1')}
        ul.numbering
            li #{__('course_schedule_desc1_1')}
            li 
                div
                    div #{__('course_schedule_desc1_2')}
                    ul.numbering-abc
                        li #{__('course_schedule_desc1_2a')}
                        li #{__('course_schedule_desc1_2b')}
                        li #{__('course_schedule_desc1_2c')}
                        li #{__('course_schedule_desc1_2d')}
        
        div.schedule_list_container 
            div #{__('course_schedule_desc2')}
            ul.links-container 
                li 
                    a(href='#t2020Autumn') #{__('course_schedule_table_6')}
                li 
                    a(href='#t3') #{__('course_schedule_2021_table')}                    
                li
                    a(href='#t2021ETC') #{__('course_schedule_table_2021_etc')}                
                     
        div.title-paragraph#t2020Autumn
            h1.schedule_header 
                div #{__('course_schedule_table_6')}
                div #{__('course_schedule_table_6_date')}
                div #{__('course_schedule_table_6_update_date')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_1_code')}
                        |&nbsp;#{__('course_schedule_table_6_1_name')}
                        |&nbsp;(#{__('course_schedule_table_6_1_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_1_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_1_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_1_lang'))}
                div
                    div #{__('course_schedule_table_course_req')}
                    div #{__('course_schedule_table_6_1_req')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_2_code')}
                        |&nbsp;#{__('course_schedule_table_6_2_name')}
                        |&nbsp;(#{__('course_schedule_table_6_2_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_2_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_6_2_time1')}
                        div #{__('course_schedule_table_6_2_time2')}
                        div #{__('course_schedule_table_6_2_time3')}
                        div #{__('course_schedule_table_6_2_time4')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_2_lang'))}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_3_code')}
                        |&nbsp;#{__('course_schedule_table_6_3_name')}
                        |&nbsp;(#{__('course_schedule_table_6_3_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_3_date'))}
                div 
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_6_3_time1')}
                        div #{__('course_schedule_table_6_3_time2')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_3_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_3_location')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_4_code')}
                        |&nbsp;#{__('course_schedule_table_6_4_name')}
                        |&nbsp;(#{__('course_schedule_table_6_4_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_4_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_4_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_4_lang'))}
            
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_5_code')}
                        |&nbsp;#{__('course_schedule_table_6_5_name')}
                        |&nbsp;(#{__('course_schedule_table_6_5_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_5_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_5_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_5_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_5_location')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_6_code')}
                        |&nbsp;#{__('course_schedule_table_6_6_name')}
                        |&nbsp;(#{__('course_schedule_table_6_6_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_6_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_6_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_6_lang'))}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_7_code')}
                        |&nbsp;#{__('course_schedule_table_6_7_name')}
                        |&nbsp;(#{__('course_schedule_table_6_7_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_7_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_7_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_7_lang'))}
                div
                    div #{__('course_schedule_table_course_note')}
                    div 
                        div #{__('course_schedule_table_6_7_note1')}
                        div #{__('course_schedule_table_6_7_note2')}                        
            
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_8_code')}
                        |&nbsp;#{__('course_schedule_table_6_8_name')}
                        |&nbsp;(#{__('course_schedule_table_6_8_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_8_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_8_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_8_lang'))}
                div
                    div #{__('course_schedule_table_course_note')}
                    div 
                        div #{__('course_schedule_table_6_8_note1')}
                        div #{__('course_schedule_table_6_8_note2')}                        

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_9_code')}
                        |&nbsp;#{__('course_schedule_table_6_9_name')}
                        |&nbsp;(#{__('course_schedule_table_6_9_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_9_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_9_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_9_lang'))}
                div
                    div #{__('course_schedule_table_course_note')}
                    div 
                        div #{__('course_schedule_table_6_9_note1')}
                        div #{__('course_schedule_table_6_9_note2')}  

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_10_code')}
                        |&nbsp;#{__('course_schedule_table_6_10_name')}
                        |&nbsp;(#{__('course_schedule_table_6_10_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_10_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_10_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_10_lang'))}                                           

        div.title-paragraph#t3
            h1 #{__('course_schedule_2021_table')}
            div
                table
                    thead
                        tr
                            th(style='width:125px') #{__('course_schedule_2021_table_date')}
                            th #{__('course_schedule_2021_table_course')}
                            th.professor #{__('course_schedule_2021_table_professor')}
                    tbody
                        tr
                            td 
                                div #{__('course_schedule_2021_table_date_1')}
                                div #{__('course_schedule_2021_table_date_1b')}
                            td #{__('course_schedule_2021_table_course_1')}
                            td #{__('course_schedule_2021_table_professor_1')}
                        tr
                            td 
                                div #{__('course_schedule_2021_table_date_2')}
                                div #{__('course_schedule_2021_table_date_2b')}                                
                            td #{__('course_schedule_2021_table_course_2')}
                            td #{__('course_schedule_2021_table_professor_2')}
                        tr
                            td 
                                div #{__('course_schedule_2021_table_date_3')}
                                div #{__('course_schedule_2021_table_date_3b')}
                            td #{__('course_schedule_2021_table_course_3')}
                            td #{__('course_schedule_2021_table_professor_3')}

        div.title-paragraph#t2021ETC
            h1.schedule_header 
                div #{__('course_schedule_table_2021_etc')}
                div #{__('course_schedule_table_2021_etc_update_date')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_1_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_1_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_1_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_1_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_1_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_1_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_1_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_1_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_2_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_2_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_2_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_2_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_2_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_2_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_2_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_2_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_3_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_3_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_3_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_3_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_2021_etc_3_time1')}
                        div #{__('course_schedule_table_2021_etc_3_time2')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_3_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_3_location')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_4_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_4_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_4_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_4_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_2021_etc_4_time1')}
                        div #{__('course_schedule_table_2021_etc_4_time2')}                        
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_4_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_4_location')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_5_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_5_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_5_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_5_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_2021_etc_5_time1')}
                        div #{__('course_schedule_table_2021_etc_5_time2')}                        
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_5_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_5_location')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_6_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_6_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_6_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_6_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_6_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_6_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_6_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_6_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_7_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_7_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_7_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_7_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_7_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_7_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_7_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_7_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_8_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_8_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_8_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_8_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_8_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_8_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_8_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_8_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_9_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_9_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_9_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_9_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_9_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_9_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_9_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_9_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_10_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_10_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_10_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_10_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_10_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_10_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_10_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_10_note')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_etc_11_code')}
                        |&nbsp;#{__('course_schedule_table_2021_etc_11_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_etc_11_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_etc_11_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_etc_11_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_etc_11_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_2021_etc_11_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_2021_etc_11_note')}

        
        

        

                               