extends index
include instructor

block append styles
    link(rel='stylesheet' href='/stylesheets/academic/schedules.css')

block academic-content
    section
        h1 
            span #{__('course_schedule_desc1')}
        ul.numbering
            li #{__('course_schedule_desc1_1')}
            li 
                div
                    div #{__('course_schedule_desc1_2')}
                    ul.numbering-abc
                        li #{__('course_schedule_desc1_2a')}
                        li #{__('course_schedule_desc1_2b')}
                        li #{__('course_schedule_desc1_2c')}
                        li #{__('course_schedule_desc1_2d')}
        
        div.schedule_list_container 
            div #{__('course_schedule_desc2')}
            ul.links-container 
                li 
                    a(href='#t2020Autumn') #{__('course_schedule_table_6')}
                li 
                    a(href='#t2021Spring') #{__('course_schedule_table_2021_spring')}
                li 
                    a(href='#t3') #{__('course_schedule_2021_table')}                    
                     
        div.title-paragraph#t2020Autumn
            h1.schedule_header 
                div #{__('course_schedule_table_6')}
                div #{__('course_schedule_table_6_date')}
                div #{__('course_schedule_table_6_update_date')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_1_code')}
                        |&nbsp;#{__('course_schedule_table_6_1_name')}
                        |&nbsp;(#{__('course_schedule_table_6_1_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_1_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_1_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_1_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_1_location')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_2_code')}
                        |&nbsp;#{__('course_schedule_table_6_2_name')}
                        |&nbsp;(#{__('course_schedule_table_6_2_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_2_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_2_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_2_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_2_location')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_3_code')}
                        |&nbsp;#{__('course_schedule_table_6_3_name')}
                        |&nbsp;(#{__('course_schedule_table_6_3_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_3_date'))}
                div 
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_3_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_3_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_3_location')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_4_code')}
                        |&nbsp;#{__('course_schedule_table_6_4_name')}
                        |&nbsp;(#{__('course_schedule_table_6_4_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_4_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_4_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_4_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_4_location')}
            
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_5_code')}
                        |&nbsp;#{__('course_schedule_table_6_5_name')}
                        |&nbsp;(#{__('course_schedule_table_6_5_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_5_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_5_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_5_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_5_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_6_5_note')} 

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_6_code')}
                        |&nbsp;#{__('course_schedule_table_6_6_name')}
                        |&nbsp;(#{__('course_schedule_table_6_6_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_6_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_6_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_6_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_6_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_6_6_note')} 

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_7_code')}
                        |&nbsp;#{__('course_schedule_table_6_7_name')}
                        |&nbsp;(#{__('course_schedule_table_6_7_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_7_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_6_7_time_1')}
                        div #{__('course_schedule_table_6_7_time_2')}   
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_7_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_7_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_6_7_note')}
            
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_8_code')}
                        |&nbsp;#{__('course_schedule_table_6_8_name')}
                        |&nbsp;(#{__('course_schedule_table_6_8_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_8_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_8_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_8_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_8_location')}
                div
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_6_8_note')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_6_9_code')}
                        |&nbsp;#{__('course_schedule_table_6_9_name')}
                        |&nbsp;(#{__('course_schedule_table_6_9_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_6_9_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_6_9_time')}  
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_6_9_lang'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_table_6_9_location')}
                   
        div.title-paragraph#t2021Spring
            h1.schedule_header 
                div #{__('course_schedule_table_2021_spring')}
                div #{__('course_schedule_table_2021_spring_detail')}
                div #{__('course_schedule_table_2021_spring_update_date')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_1_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_1_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_1_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_1_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_1_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_1_lang'))}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_2_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_2_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_2_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_2_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_2021_spring_2_time1')}
                        div #{__('course_schedule_table_2021_spring_2_time2')}
                        div #{__('course_schedule_table_2021_spring_2_time3')}
                        div #{__('course_schedule_table_2021_spring_2_time4')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_2_lang'))}                    
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_3_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_3_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_3_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_3_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_2021_spring_3_time1')}
                        div #{__('course_schedule_table_2021_spring_3_time2')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_3_lang'))}  
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_4_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_4_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_4_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_4_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_4_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_4_lang'))} 
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_5_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_5_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_5_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_5_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_5_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_5_lang'))}  
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_6_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_6_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_6_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_6_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_6_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_6_lang'))}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_7_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_7_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_7_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_7_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_7_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_7_lang'))}    
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_8_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_8_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_8_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_8_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_8_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_8_lang'))}     
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_9_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_9_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_9_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_9_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_9_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_9_lang'))}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_2021_spring_10_code')}
                        |&nbsp;#{__('course_schedule_table_2021_spring_10_name')}
                        |&nbsp;(#{__('course_schedule_table_2021_spring_10_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_2021_spring_10_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_2021_spring_10_time')}
                div
                    div #{__('course_schedule_table_course_lang')}
                    div #{(__('course_schedule_table_2021_spring_10_lang'))}                                                                                                                               

        div.title-paragraph#t3
            h1 #{__('course_schedule_2021_table')}
            div
                table
                    thead
                        tr
                            th.date #{__('course_schedule_2021_table_date')}
                            th #{__('course_schedule_2021_table_course')}
                            th.professor #{__('course_schedule_2021_table_professor')}
                    tbody
                        tr
                            td #{__('course_schedule_2021_table_date_1')}
                            td #{__('course_schedule_2021_table_course_1')}
                            td #{__('course_schedule_2021_table_professor_1')}
                        tr
                            td #{__('course_schedule_2021_table_date_2')}
                            td #{__('course_schedule_2021_table_course_2')}
                            td #{__('course_schedule_2021_table_professor_2')}
                        tr
                            td #{__('course_schedule_2021_table_date_3')}
                            td #{__('course_schedule_2021_table_course_3')}
                            td #{__('course_schedule_2021_table_professor_3')}
                        tr
                            td 
                                div #{__('course_schedule_2021_table_date_4')}
                            td #{__('course_schedule_2021_table_course_4')}
                            td #{__('course_schedule_2021_table_professor_4')}
        
        

        

                               