extends index
include instructor

block append styles
    link(rel='stylesheet', href='/stylesheets/academic/schedules.css')

block academic-content
    section
        h1 
            span #{__('course_schedule_desc1')}
        ul.numbering
            li #{__('course_schedule_desc1_1')}
            li 
                div
                    div #{__('course_schedule_desc1_2')}
                    ul.numbering-abc
                        li #{__('course_schedule_desc1_2a')}
                        li #{__('course_schedule_desc1_2b')}
                        li #{__('course_schedule_desc1_2c')}
                        li #{__('course_schedule_desc1_2d')}
        div #{__('course_schedule_desc2')}

        div.title-paragraph
            h1 #{__('course_schedule_table')}
            div
                table
                    thead
                        tr
                            th.date #{__('course_schedule_table_date')}
                            th #{__('course_schedule_table_course')}
                            th #{__('course_schedule_table_location')}
                            th.professor #{__('course_schedule_table_professor')}
                    tbody
                        tr
                            td #{__('course_schedule_table_date_1')}
                            td #{__('course_schedule_table_course_1')}
                            td #{__('course_schedule_table_location_1')}
                            td #{__('course_schedule_table_professor_1')}
                        tr
                            td #{__('course_schedule_table_date_2')}
                            td #{__('course_schedule_table_course_2')}
                            td #{__('course_schedule_table_location_2')}
                            td #{__('course_schedule_table_professor_2')}
                        tr
                            td #{__('course_schedule_table_date_3')}
                            td #{__('course_schedule_table_course_3')}
                            td #{__('course_schedule_table_location_3')}
                            td #{__('course_schedule_table_professor_3')}
                        tr
                            td 
                                div #{__('course_schedule_table_date_4_1')}
                                div #{__('course_schedule_table_date_4_2')}
                            td #{__('course_schedule_table_course_4')}
                            td #{__('course_schedule_table_location_4')}
                            td #{__('course_schedule_table_professor_4')}
                        tr
                            td #{__('course_schedule_table_date_5')}
                            td #{__('course_schedule_table_course_5')}
                            td #{__('course_schedule_table_location_5')}
                            td #{__('course_schedule_table_professor_5')}
                        tr
                            td #{__('course_schedule_table_date_6')}
                            td #{__('course_schedule_table_course_6')}
                            td #{__('course_schedule_table_location_6')}
                            td #{__('course_schedule_table_professor_6')}
                        tr
                            td #{__('course_schedule_table_date_7')}
                            td #{__('course_schedule_table_course_7')}
                            td #{__('course_schedule_table_location_7')}
                            td #{__('course_schedule_table_professor_7')}

        div.title-paragraph
            h1.schedule_header 
                div #{__('course_schedule_table_2')}
                div #{__('course_schedule_table_2_date')}
                div #{__('course_schedule_table_2_update_date')}
            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_1_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_2_1_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_2_1_code')}
                        |&nbsp;#{__('course_schedule_table_2_1_name')}
                        |&nbsp;(#{__('course_schedule_table_2_1_teacher')})
            
            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_2_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_2_2_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_2_2_code')}
                        |&nbsp;#{__('course_schedule_table_2_2_name')}
                        |&nbsp;(#{__('course_schedule_table_2_2_teacher')})

            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_3_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div 
                        div #{__('course_schedule_table_2_3_time1')}
                        div #{__('course_schedule_table_2_3_time2')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_2_3_code')}
                        |&nbsp;#{__('course_schedule_table_2_3_name')}
                        |&nbsp;(#{__('course_schedule_table_2_3_teacher')})
                div 
                    div #{__('course_schedule_table_2_course_req')}
                        |&nbsp;/&nbsp;
                        |#{__('course_schedule_table_2_course_note')}
                    div #{__('course_schedule_table_2_3_note')}

            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_4_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_2_4_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_2_4_code')}
                        |&nbsp;#{__('course_schedule_table_2_4_name')}
                        |&nbsp;(#{__('course_schedule_table_2_4_teacher')})

            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_5_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div 
                        div #{__('course_schedule_table_2_5_time1')}
                        div #{__('course_schedule_table_2_5_time2')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_2_5_code')}
                        |&nbsp;#{__('course_schedule_table_2_5_name')}
                        |&nbsp;(#{__('course_schedule_table_2_5_teacher')})           

            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_6_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_2_6_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_2_6_code')}
                        |&nbsp;#{__('course_schedule_table_2_6_name')}
                        |&nbsp;(#{__('course_schedule_table_2_6_teacher')})
                div 
                    div #{__('course_schedule_table_2_course_req')}
                        |&nbsp;/&nbsp;
                        |#{__('course_schedule_table_2_course_note')}
                    div #{__('course_schedule_table_2_6_note')}  

        div.title-paragraph
            h1.schedule_header 
                div #{__('course_schedule_table_3')}
                div #{__('course_schedule_table_3_date')}
                div #{__('course_schedule_table_3_update_date')}
            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_3_1_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_3_1_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_3_1_code')}
                        |&nbsp;#{__('course_schedule_table_3_1_name')}
                        |&nbsp;(#{__('course_schedule_table_3_1_teacher')})
                div 
                    div #{__('course_schedule_table_2_course_note')}
                    div #{__('course_schedule_table_3_1_note')}
            
            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_3_2_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div 
                        div #{__('course_schedule_table_3_2_time1')}
                        div #{__('course_schedule_table_3_2_time2')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_3_2_code')}
                        |&nbsp;#{__('course_schedule_table_3_2_name')}
                        |&nbsp;(#{__('course_schedule_table_3_2_teacher')})
                div 
                    div #{__('course_schedule_table_2_course_note')}
                    div #{__('course_schedule_table_3_2_note')}

            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_2_3_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_3_3_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_3_3_code')}
                        |&nbsp;#{__('course_schedule_table_3_3_name')}
                        |&nbsp;(#{__('course_schedule_table_3_3_teacher')})
                div 
                    div #{__('course_schedule_table_2_course_note')}
                    div #{__('course_schedule_table_3_3_note')}

            div.schedule_container
                div
                    div #{__('course_schedule_table_2_course_date')}
                    div #{(__('course_schedule_table_3_4_date'))}
                div
                    div #{__('course_schedule_table_2_course_time')}
                    div #{__('course_schedule_table_3_4_time')}
                div 
                    div #{__('course_schedule_table_2_course_code')}
                    div #{__('course_schedule_table_3_4_code')}
                        |&nbsp;#{__('course_schedule_table_3_4_name')}
                        |&nbsp;(#{__('course_schedule_table_3_4_teacher')})
                div 
                    div #{__('course_schedule_table_2_course_note')}
                    div #{__('course_schedule_table_3_4_note')}