extends index
include instructor

block append styles
    link(rel='stylesheet' href='/stylesheets/academic/schedules.css')

block academic-content
    section
        h1 
            span #{__('course_schedule_desc1')}
        ul.numbering
            li #{__('course_schedule_desc1_1')}
            li 
                div
                    div #{__('course_schedule_desc1_2')}
                    ul.numbering-abc
                        li #{__('course_schedule_desc1_2a')}
                        li #{__('course_schedule_desc1_2b')}
                        li #{__('course_schedule_desc1_2c')}
                        li #{__('course_schedule_desc1_2d')}
        div.schedule_list_container 
            div #{__('course_schedule_desc2')}
            ul.links-container 
                li 
                    a(href='#t2') #{__('course_schedule_table_5')}
                li 
                    a(href='#t3') #{__('course_schedule_2020_table')}
                li 
                    a(href='#t4') #{__('course_schedule_dip_cs')}
                li
                    a(href='#t5') #{__('general_theology_course')}
       
        div.title-paragraph#t2
            h1.schedule_header 
                div #{__('course_schedule_table_5')}
                div #{__('course_schedule_table_5_date')}
                div #{__('course_schedule_table_5_update_date')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_1_code')}
                        |&nbsp;#{__('course_schedule_table_5_1_name')}
                        |&nbsp;(#{__('course_schedule_table_5_1_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_1_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_1_time')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_2_code')}
                        |&nbsp;#{__('course_schedule_table_5_2_name')}
                        |&nbsp;(#{__('course_schedule_table_5_2_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_2_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_2_time')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_3_code')}
                        |&nbsp;#{__('course_schedule_table_5_3_name')}
                        |&nbsp;(#{__('course_schedule_table_5_3_teacher_1')}, #{__('course_schedule_table_5_3_teacher_2')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_3_date'))}
                div 
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_3_time_1')}
                div 
                    div
                    div #{__('course_schedule_table_5_3_time_2')}
                div 
                    div
                    div #{__('course_schedule_table_5_3_time_3')}
                div 
                    div
                    div #{__('course_schedule_table_5_3_time_4')}

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_4_code')}
                        |&nbsp;#{__('course_schedule_table_5_4_name')}
                        |&nbsp;(#{__('course_schedule_table_5_4_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_4_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_4_time')}
                div 
                    div #{__('course_schedule_table_course_req')}
                    div #{__('course_schedule_table_5_4_req')}
                div 
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_5_4_note')}
            
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_5_code')}
                        |&nbsp;#{__('course_schedule_table_5_5_name')}
                        |&nbsp;(#{__('course_schedule_table_5_5_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_5_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div 
                        div #{__('course_schedule_table_5_5_time')}
                div 
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_5_5_note')}           

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_6_code')}
                        |&nbsp;#{__('course_schedule_table_5_6_name')}
                        |&nbsp;(#{__('course_schedule_table_5_6_teacher_1')}, #{__('course_schedule_table_5_6_teacher_2')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_6_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_6_time')}
                div 
                    div #{__('course_schedule_table_course_req')}
                    div #{__('course_schedule_table_5_6_req')}
                div 
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_5_6_note')} 

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_7_code')}
                        |&nbsp;#{__('course_schedule_table_5_7_name')}
                        |&nbsp;(#{__('course_schedule_table_5_7_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_7_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_7_time')}
                div 
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_5_7_note')} 

            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_table_5_8_code')}
                        |&nbsp;#{__('course_schedule_table_5_8_name')}
                        |&nbsp;(#{__('course_schedule_table_5_8_teacher')})
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_table_5_8_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_table_5_8_time')}
                div 
                    div #{__('course_schedule_table_course_note')}
                    div #{__('course_schedule_table_5_8_note')}                                          

        div.title-paragraph#t3
            h1 #{__('course_schedule_2020_table')}
            div
                table
                    thead
                        tr
                            th.date #{__('course_schedule_2020_table_date')}
                            th #{__('course_schedule_2020_table_course')}
                            th.professor #{__('course_schedule_2020_table_professor')}
                    tbody
                        tr
                            td #{__('course_schedule_2020_table_date_1')}
                            td #{__('course_schedule_2020_table_course_1')}
                            td #{__('course_schedule_2020_table_professor_1')}
                        tr
                            td #{__('course_schedule_2020_table_date_2')}
                            td #{__('course_schedule_2020_table_course_2')}
                            td #{__('course_schedule_2020_table_professor_2')}
                        tr
                            td #{__('course_schedule_2020_table_date_3')}
                            td #{__('course_schedule_2020_table_course_3')}
                            td #{__('course_schedule_2020_table_professor_3')}
                        tr
                            td 
                                div #{__('course_schedule_2020_table_date_4')}
                            td #{__('course_schedule_2020_table_course_4')}
                            td #{__('course_schedule_2020_table_professor_4')}
                        tr
                            td #{__('course_schedule_2020_table_date_5')}
                            td #{__('course_schedule_2020_table_course_5')}
                            td #{__('course_schedule_2020_table_professor_5')}
        
        div.title-paragraph#t4
            h1.schedule_header 
                div #{__('course_schedule_dip_cs')}
                div #{__('chinese_only')}
                div
                    a(href='../pdf/110719postersOL.pdf' target="blank") #{__('click_here_for_poster')}
            div.schedule_container
                div.course_desc #{__('course_schedule_dip_cs_desc')} 

            div.schedule_container    
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_dip_cs_1')}
                div
                    div
                    div #{__('course_schedule_dip_cs_1_desc')}
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_dip_cs_1_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_dip_cs_1_time1')}
                div
                    div
                    div #{__('course_schedule_dip_cs_1_time2')}
                div 
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_dip_cs_1_location')} 
                div
                    div #{__('course_schedule_table_course_teacher')}
                    div #{__('course_schedule_dip_cs_1_teacher')}
                div
                    div
                    div #{__('course_schedule_dip_cs_1_teacher_desc')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_dip_cs_2')}
                div
                    div
                    div #{__('course_schedule_dip_cs_2_desc')}
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_dip_cs_2_date'))}
                div
                    div #{__('course_schedule_table_course_time')}
                    div #{__('course_schedule_dip_cs_2_time')}
                div 
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_dip_cs_2_location')} 
                div
                    div #{__('course_schedule_table_course_teacher')}
                    div #{__('course_schedule_dip_cs_2_teacher')}
                div
                    div
                    div #{__('course_schedule_dip_cs_2_teacher_desc')}

            
        div.title-paragraph#t5
            h1.schedule_header 
                div #{__('course_schedule_general_theology_table')}
                div #{__('chinese_only')}  
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_general_theology_table_code_1')}
                        |&nbsp;#{__('course_schedule_general_theology_table_name_1')}
                        |&nbsp;(#{__('course_schedule_general_theology_table_language_1')})
                div
                    div #{__('course_schedule_table_course_teacher')}
                    div #{__('course_schedule_general_theology_table_teacher_1')}
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_general_theology_table_date_1_1'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_1_2'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_1_3'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_general_theology_table_location_1')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_general_theology_table_code_2')}
                        |&nbsp;#{__('course_schedule_general_theology_table_name_2')}
                        |&nbsp;(#{__('course_schedule_general_theology_table_language_2')})
                div
                    div #{__('course_schedule_table_course_teacher')}
                    div #{__('course_schedule_general_theology_table_teacher_2')}
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_general_theology_table_date_2_1'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_2_2'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_2_3'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_2_4'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_general_theology_table_location_2')}
            div.schedule_container
                div 
                    div #{__('course_schedule_table_course_code')}
                    div #{__('course_schedule_general_theology_table_code_3')}
                        |&nbsp;#{__('course_schedule_general_theology_table_name_3')}
                        |&nbsp;(#{__('course_schedule_general_theology_table_language_3')})
                div
                    div #{__('course_schedule_table_course_teacher')}
                    div #{__('course_schedule_general_theology_table_teacher_3')}
                div
                    div #{__('course_schedule_table_course_date')}
                    div #{(__('course_schedule_general_theology_table_date_3_1'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_3_2'))}
                div
                    div
                    div #{(__('course_schedule_general_theology_table_date_3_3'))}
                div
                    div #{__('course_schedule_table_course_location')}
                    div #{__('course_schedule_general_theology_table_location_3')}

                               