extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/apply.css')

block admission-content
    div.container.section
        div.header
            div.title #{__('applySubTitle1')}
        ul.desc-container
            li.numbering.indent-1 
                div 1.
                div #{__('apply1_1')}
            li.numbering.indent-1  
                div 2.
                div #{__('apply1_2')}
            li.wrap-boxes.indent-2
                div.box-container
                    div.title #{__('progDMin')}
                    div.context #{__('apply1_2a')}
                div.box-container
                    div.title #{__('progMDiv')}
                    div.context #{__('apply1_2b')}
                div.box-container
                    div.title #{__('progMts')}
                    div.context #{__('apply1_2c')}
                div.box-container
                    div.title #{__('progDipcs')}
                    div.context #{__('apply1_2d')}
                div.box-container
                    div.title #{__('progNonDegree')}
                    div.context #{__('apply1_2e')}
                div.box-container
                    div.title #{__('progAudit')}
                    div.context #{__('apply1_2f')}
            li.numbering.indent-1 
                div 3.
                div #{__('apply1_3')}
            li.numbering.indent-1  
                div 4.
                div #{__('apply1_4')}
            li.indent-2.numbering
                div a. 
                div #{__('apply1_4a')}
            li.indent-2.numbering
                div b.
                div 
                    div #{__('apply1_4b')}
                    div.wrap-boxes.letters
                        div.box-container
                            div.title #{__('progDMin')}
                            div.context #{__('apply1_4b1')}
                        div.box-container
                            div.title #{__('progMDiv')}
                            div.context 
                                div #{__('apply1_4b2')}
                                div #{__('apply1_4c')}
                        div.box-container
                            div.title #{__('progMts')}
                            div.context #{__('apply1_4b3')}
                        div.box-container
                            div.title #{__('progDipcs')}
                            div.context #{__('apply1_4b4')}
            li.numbering.indent-1  
                div 5.
                div #{__('apply1_5')}
            li.numbering.indent-1
                div 6. 
                div #{__('apply1_6')}

    div.container.section
        div.header
            div.title #{__('applySubTitle2')}
        ul.desc-container
            li.numbering.indent-1
                div 1.
                div #{__('apply2_1')}
            li.numbering.indent-1
                div 2.
                div #{__('apply2_2')}

    div.container.section
        div.header
            div.title #{__('applySubTitle3')}
        ul.desc-container
            li.numbering.indent-1 
                div 1.
                div 
                    | #{__('apply3_1a')} <br/>
                    | #{__('apply3_1b')}
            li.numbering.indent-1 
                div 2.
                div 
                    | #{__('apply3_2a')} <br/>
                    | #{__('apply3_2b')}
            li.numbering.indent-1 
                div 3.
                div 
                    | #{__('apply3_3a')} <br/>
                    | #{__('apply3_3b')}
            li.numbering.indent-1 
                div 4.
                div 
                    | #{__('apply3_4a')} <br/>
                    | #{__('apply3_4b')}  

            li.note #{__('applySubTitle4')}
