extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/apply.css')

block admission-content
    section
        h1
            span #{__('applySubTitle1')}
            
        ul.numbering  
                li #{__('apply1_1')}
                li
                    div.padding-bottom-half-rem #{__('apply1_2')}
                    div.wrap-boxes
                        div.box-container
                            div.title #{__('progDMin')}
                            div.context #{__('apply1_2a')}
                        div.box-container
                            div.title #{__('progMDiv')}
                            div.context #{__('apply1_2b')}
                        div.box-container
                            div.title #{__('progMts')}
                            div.context #{__('apply1_2c')}
                        div.box-container
                            div.title #{__('progDipcs')}
                            div.context #{__('apply1_2d')}
                        div.box-container
                            div.title #{__('progNonDegree')}
                            div.context #{__('apply1_2e')}
                        div.box-container
                            div.title #{__('progAudit')}
                            div.context #{__('apply1_2f')}
                    li #{__('apply1_3')}
                    li
                        div.padding-bottom-half-rem #{__('apply1_4')}
                        ul.numbering-abc
                            li #{__('apply1_4a')}
                            li 
                                div.padding-bottom-half-rem #{__('apply1_4b')}
                                div.wrap-boxes.letters
                                    div.box-container
                                        div.title #{__('progDMin')}
                                        div.context #{__('apply1_4b1')}
                                    div.box-container
                                        div.title #{__('progMDiv')}
                                        div.context 
                                            div #{__('apply1_4b2')}
                                            div #{__('apply1_4c')}
                                    div.box-container
                                        div.title #{__('progMts')}
                                        div.context #{__('apply1_4b3')}
                                    div.box-container
                                        div.title #{__('progDipcs')}
                                        div.context #{__('apply1_4b4')}
                    li #{__('apply1_5')}
                    li #{__('apply1_6')}




    section
        h1
            span #{__('applySubTitle2')}
        ul.numbering
            li #{__('apply2_1')}
            li #{__('apply2_2')}

    section
        h1
            span #{__('applySubTitle3')} 
        div.question-answer
            div #{__('apply3_1a')}
            div #{__('apply3_1b')}
        div.question-answer
            div #{__('apply3_2a')}
            div #{__('apply3_2b')}
        div.question-answer
            div #{__('apply3_3a')}
            div #{__('apply3_3b')}
        div.question-answer
            div #{__('apply3_4a')}
            div #{__('apply3_4b')}  

        div.note #{__('applySubTitle4')}
