extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/finanical.css')

block admission-content
    section
        h1 
            span #{__('fees')}
        
        article.title-paragraph
            h1 #{__('finanicalAssistance1')}
            div.title-paragraph
                div #{__('finanicalAssistance1_detail')} 
                ul.numbering
                    li #{__('finanicalAssistance1_1')}
                    li  #{__('finanicalAssistance1_2')}

        article.title-paragraph
            h1 #{__('finanicalAssistance2')}                    
            div #{__('finanicalAssistance2_detail')}

        article.title-paragraph
            h1 #{__('finanicalAssistance3')}
            div.title-paragraph
                div #{__('finanicalAssistance3_detail')}
                ul.numbering
                    li #{__('finanicalAssistance3_1')}
                    li  #{__('finanicalAssistance3_2')}
                    li #{__('finanicalAssistance3_3')}
                    li  #{__('finanicalAssistance3_4')} 

        article.title-paragraph
            h1  #{__('finanicalAssistance4')}                     
            div #{__('finanicalAssistance4_detail')}                                                                

    