extends index

block admission-content
    div.container.section
        div.header 
            div.title #{__('finanicalAssistance1')}
        ul.desc-container
            li #{__('finanicalAssistance1_detail')}
            li
                ul.numbering
                    li #{__('finanicalAssistance1_1')}
                    li  #{__('finanicalAssistance1_2')}

    div.container.section.finanical
        div.header 
            div.title #{__('finanicalAssistance1')}
        ul.desc-container                      
            li #{__('finanicalAssistance1_detail')}

    div.container.section.finanical
        div.header 
            div.title #{__('finanicalAssistance3')}
        ul.desc-container 
            li #{__('finanicalAssistance3_detail')}
            li.indent-1
                ul.numbering
                    li #{__('finanicalAssistance3_1')}
                    li  #{__('finanicalAssistance3_2')}
                    li #{__('finanicalAssistance3_3')}
                    li  #{__('finanicalAssistance3_4')} 

    div.container.section.finanical
        div.header 
            div.title #{__('finanicalAssistance4')}
        ul.desc-container                     
            li #{__('finanicalAssistance4_detail')}                                                                

    