extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/international.css')

block admission-content
    section.international
        h1
            span #{__('internationalStudent')}

        article.title-paragraph
            h1 #{__('internationalStudent_title')}
            ul.international_student 
                li 
                    div #{__('internationalStudent_1')}
                    div #{__('internationalStudent_1a')}
                    div #{__('internationalStudent_1b')}
                    div #{__('internationalStudent_1c')}
                li #{__('internationalStudent_2')}
                li #{__('internationalStudent_3')}
                li #{__('internationalStudent_4')}
                li #{__('internationalStudent_5')}
                li #{__('internationalStudent_6')}
                li #{__('internationalStudent_7')}
                li #{__('internationalStudent_8')}
                li #{__('internationalStudent_9')}
                li #{__('internationalStudent_10')}
                li #{__('internationalStudent_11')}
                li #{__('internationalStudent_12')}
                li #{__('internationalStudent_13')}
                li 
                    div #{__('internationalStudent_14')}
                    a(href='https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit.html', target='_blank', style='display:block; padding-top:5px;') #{__('internationalStudent_14_url')}

        article.title-paragraph
            h1 #{__('internationalStudent_other')}
            ul.international_student 
                li 
                    div #{__('internationalStudent_other_1')}
                    div
                        a(href=__('internationalStudent_other_1_url'), target='_blank') #{__('internationalStudent_other_1_url')}

        article.title-paragraph
            div #{__('internationalStudent_link')}
            a(href='https://www.canada.ca/en/immigration-refugees-citizenship/services/study-canada/study-permit.html', target='_blank', style='display:block; padding-top:5px;') #{__('internationalStudent_link_url')}