extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/programs.css')


block admission-content

    //- div.section-nav
    //-     a(href='#top') #{__('program')}
    //-     a(href='#prog-dmin') #{__('progDMin')}
     
    section
        h1
            span #{__('program')}        
        ul.wrap-boxes
            li.box-container
                div.title #{__('progDMin')}
                div.context #{__('progDMinDesc')}
                a(class='detail-btn', href='#prog-dmin') #{__('fulldetail')}
            li.box-container
                div.title #{__('progMM')}
                div.context #{__('progMMDesc')}
                a(class='detail-btn', href='#prog-mmin') #{__('fulldetail')}                
            li.box-container
                div.title #{__('progMDiv')}
                div.context #{__('progMDivDesc')}
                a(class='detail-btn', href='#prog-mdiv') #{__('fulldetail')}
            li.box-container
                div.title #{__('progMts')}
                div.context #{__('progMtsDesc')}                        
                a(class='detail-btn', href='#prog-mts') #{__('fulldetail')}
            li.box-container   
                div.title #{__('progDipcs')}
                div.context #{__('progDipcsDesc')}
                a(class='detail-btn', href='#prog-dipcs') #{__('fulldetail')}
            li.box-container   
                div.title #{__('general_theology_course')}
                div.context #{__('general_theology_course_desc')}
                a(class='detail-btn', href='#general_theology') #{__('fulldetail')}
            li.box-container
                div.title #{__('progNonDegree')}
                div.context #{__('progNonDegreeDesc')}
                a(class='detail-btn', href='#prog-nondegree') #{__('fulldetail')}
            li.box-container
                div.title #{__('progAudit')}
                div.context #{__('progAuditDesc')}
                a(class='detail-btn', href='#prog-audit') #{__('fulldetail')}

    section(id='prog-dmin' name='prog-dmin')
        h1
            span #{__('progDMin')}        
        div.title-paragraph
            h1 #{__('dMin1')}
            div #{__('dMin1_1')}

        div.title-paragraph
            h1 #{__('dMin2')}
            ul.numbering            
                li #{__('dMin2a')}
                li #{__('dMin2b')}
                li #{__('dMin2c')}
                li #{__('dMin2d')}
                li #{__('dMin2e')}
                li #{__('dMin2f')}

        div.title-paragraph
            h1 #{__('dMin3')}
            ul.numbering
                li
                    div.cost-table 
                        span #{__('dMin3a')}
                        span #{__('dMin3a_pt')}
                    div.course 
                        div #{__('dMin3a_1_code')}
                        div #{__('dMin3a_1')}
                li
                    div.cost-table 
                        span #{__('dMin3b')}
                        span #{__('dMin3b_pt')}
                    ul.numbering-abc
                        li #{__('dMin3b_1')}
                        li #{__('dMin3b_2')}
                li
                    div.cost-table
                        span #{__('dMin3c')}
                        span #{__('dMin3c_pt')}   
                    div #{__('dMin3c_desc')}   
                    ul.numbering-abc
                        li #{__('dMin3c_1')}
                        li #{__('dMin3c_2')}
                        li #{__('dMin3c_3')}
                        li #{__('dMin3c_4')}
                        li #{__('dMin3c_5')}
                        li #{__('dMin3c_6')}
                        li #{__('dMin3c_7')}
                        li #{__('dMin3c_8')}
                        li #{__('dMin3c_9')}
                        li #{__('dMin3c_10')}
                        li #{__('dMin3c_11')}
                        li #{__('dMin3c_12')}   
                        li #{__('dMin3c_13')}
                        li #{__('dMin3c_14')}
                        li #{__('dMin3c_15')}
                        li #{__('dMin3c_16')}
                        li #{__('dMin3c_17')}
                        li #{__('dMin3c_18')}
                        li #{__('dMin3c_19')}
                        li #{__('dMin3c_20')}
                        li #{__('dMin3c_21')}
                        li #{__('dMin3c_22')}   
                        li #{__('dMin3c_23')}


    section(id='prog-mmin' name='prog-mmin')
        h1
            span #{__('progMM')}        
        div.title-paragraph
            h1 #{__('mMin1')}
            div #{__('mMin1_1')}
        div.title-paragraph
            h1 #{__('mMin2')}
            div(style="padding-bottom:15px;") #{__('mMin2_1')}
            div.cost-table            
                span #{__('mMin3')}
                span #{__('mMin3_credit')}
            div.course
                div #{__('mMin3a_code')} 
                div #{__('mMin3a')}             
            div.course
                div #{__('mMin3b_code')} 
                div #{__('mMin3b')}             
            div.course
                div #{__('mMin3c_code')} 
                div #{__('mMin3c')}             
            div.course
                div #{__('mMin3d_code')} 
                div #{__('mMin3d')}             
            div.course
                div #{__('mMin3e_code')} 
                div #{__('mMin3e')}     
            div.course
                div
                div #{__('mMin3f')}
            
            div.cost-table(style="margin-top:25px;")            
                span #{__('mMin4')}
                span #{__('mMin4_credit')}
            div.course
                div #{__('mMin4a_code')} 
                div #{__('mMin4a')}     
            div.course
                div #{__('mMin4b_code')} 
                div #{__('mMin4b')}     
            div.course
                div 
                div #{__('mMin4c')}

            div.cost-table(style="margin-top:25px;")             
                span #{__('mMin5')}
                span #{__('mMin5_credit')}
            div.course
                div #{__('mMin5a_code')} 
                div #{__('mMin5a')}     
            div.course
                div #{__('mMin5b_code')} 
                div #{__('mMin5b')}                

            div.cost-table(style="margin-top:25px;")              
                span #{__('mMin6')}
                span #{__('mMin6_credit')}
            div.course
                div #{__('mMin6a_code')} 
                div #{__('mMin6a')}     
            div.course
                div #{__('mMin6b_code')} 
                div #{__('mMin6b')} 
            div.course
                div #{__('mMin6c_code')} 
                div #{__('mMin6c')} 
            div.course
                div #{__('mMin6d_code')} 
                div #{__('mMin6d')} 
            div.course
                div
                div #{__('mMin6e')} 

    section(id='prog-mdiv')  
        h1 
            span #{__('progMDiv')}
        div.title-paragraph
            h1 #{__('mDiv1')}
            div #{__('mDiv1_1')}

        div.title-paragraph
            h1 #{__('mDiv2')}
            div.cost-table
                span #{__('mDiv2_year')}
                span #{__('mDiv2_pt')}            
            div.title-paragraph
                div #{__('mDiv2a')}
                ul.numbering
                    li #{__('mDiv2a_1')}
                    li #{__('mDiv2a_2')}            
            div.title-paragraph
                div #{__('mDiv2b')}
                ul.numbering
                    li #{__('mDiv2b_1')}
                    li #{__('mDiv2b_2')}
            div.title-paragraph
                div #{__('mDiv2c')}
                ul.numbering
                    li #{__('mDiv2c_1')}
                    li #{__('mDiv2c_2')}                    
            div.title-paragraph
                div #{__('mDiv2d')}
                ul.numbering
                    li #{__('mDiv2d_1')}
                    li #{__('mDiv2d_2')}                    
                    li #{__('mDiv2d_3')}
                    li 
                        div #{__('mDiv2d_4a')}
                        div #{__('mDiv_or')}
                        div #{__('mDiv2d_4b')}                   
            div.title-paragraph    
                div #{__('mDiv2e')}                                       
                ul.numbering
                    li #{__('mDiv2e_1')}
                    li #{__('mDiv2e_2')}                       
            
            div.cost-table
                span #{__('mDiv3_year')}
                span #{__('mDiv3_pt')}
            div.title-paragraph   
                div #{__('mDiv3a')}
                ul.numbering
                    li #{__('mDiv3a_1')}
                    li #{__('mDiv3a_2')}
            div.title-paragraph                        
                div #{__('mDiv3b')}
                ul.numbering
                    li #{__('mDiv3b_1')}
                    li #{__('mDiv3b_2')}
            div.title-paragraph        
                div #{__('mDiv3c')}
                ul.numbering
                    li #{__('mDiv3c_1')}
                    li #{__('mDiv3c_2')}
            div.title-paragraph           
                div #{__('mDiv3d')}
                ul.numbering
                    li #{__('mDiv3d_1')}
                    li #{__('mDiv3d_2')}                    
                    li #{__('mDiv3d_3')}
                    li 
                        div #{__('mDiv3d_4a')}
                        div #{__('mDiv_or')}
                        div #{__('mDiv3d_4b')} 
            div.title-paragraph
                div #{__('mDiv3e')}                                       
                ul.numbering
                    li #{__('mDiv3e_1')}
                    li #{__('mDiv3e_2')}                                        

            div.cost-table
                span #{__('mDiv4_year')}
                span #{__('mDiv4_pt')}
            div.title-paragraph
                div #{__('mDiv4a')}
                ul.numbering
                    li #{__('mDiv4a_1')}
            div.title-paragraph        
                div #{__('mDiv4b')}
                ul.numbering
                    li #{__('mDiv4b_1')}
                    li #{__('mDiv4b_2')}
            div.title-paragraph        
                div #{__('mDiv4c')}
                ul.numbering
                    li #{__('mDiv4c_1')}
            div.title-paragraph
                div #{__('mDiv4d')}
                ul.numbering
                    li #{__('mDiv4d_1')}
                    li #{__('mDiv4d_2')}
            div.title-paragraph
                div #{__('mDiv4e')}
                ul.numbering
                    li #{__('mDiv4e_1')}
                    li #{__('mDiv4e_2')}
            div.title-paragraph
                div #{__('mDiv4f')}
                ul.numbering
                    li #{__('mDiv4f_1')}
                    li #{__('mDiv4f_2')}                    

    section(id='prog-mts')
        h1    
            span #{__('progMts')}
        div.title-paragraph
            h1 #{__('mts1')}
            div #{__('mts1a')}
        div.title-paragraph
            h1 #{__('mts2')} 
            div.cost-table
                span #{__('mts2_year')}
                span #{__('mts2_pt')}
            div.title-paragraph
                div #{__('mts2a')}
                ul.numbering
                    li #{__('mts2a_1')}
                    li #{__('mts2a_2')}
            div.title-paragraph
                div #{__('mts2b')}
                ul.numbering
                    li #{__('mts2b_1')}
                    li #{__('mts2b_2')}
            div.title-paragraph
                div #{__('mts2c')}
                ul.numbering
                    li #{__('mts2c_1')}
                    li #{__('mts2c_2')}
            div.title-paragraph
                div #{__('mts2d')}
                ul.numbering
                    li #{__('mts2d_1')}
                    li #{__('mts2d_2')}
                    li #{__('mts2d_3')}
                    li #{__('mts2d_4')} 
            div.cost-table
                span #{__('mts3_year')}
                span #{__('mts3_pt')}
            div.title-paragraph
                div #{__('mts3a')}
                ul.numbering
                    li #{__('mts3a_1')}
                    li #{__('mts3a_2')}
            div.title-paragraph
                div #{__('mts3b')}
                ul.numbering
                    li #{__('mts3b_1')}
                    li #{__('mts3b_2')}
                    li #{__('mts3b_3')}
            div.title-paragraph
                div #{__('mts3c')}
                ul.numbering
                    li #{__('mts3c_1')}
                    li #{__('mts3c_2')}
            div.title-paragraph
                div #{__('mts3d')}
                ul.numbering
                    li #{__('mts3d_1')}
                    li #{__('mts3d_2')}

    section(id='prog-dipcs')
        h1    
            span #{__('progDipcs')}
        div.title-paragraph
            h1 #{__('dipCS1')}
            div #{__('dipCS1a')}
        div.title-paragraph
            h1 #{__('dipCS2')} 
            div.cost-table
                span #{__('dipCS2a')}
                span #{__('dipCS2a_pt')}
            div.cost-table
                span #{__('dipCS2b')}
                span #{__('dipCS2b_pt')}
            div.cost-table
                span #{__('dipCS2c')}
                span #{__('dipCS2c_pt')}
            div.cost-table
                span #{__('dipCS2d')}
                span #{__('dipCS2d_pt')}
        div.title-paragraph
            h1 #{__('dipCS3')}
            div #{__('dipCS3a')}

    section(id='general_theology')
        h1
            span #{__('general_theology_course')}
        div.title-paragraph
            h1 #{__('general_theology_course_desc_title')}
            div #{__('general_theology_course_desc')}
        div.title-paragraph
            h1 #{__('general_theology_course_qualification_title')}
            ul.numbering            
                li 
                    div #{(__('general_theology_course_qualification_1'))}
                    ul.point.padding-left
                        li #{(__('general_theology_course_qualification_1a'))}
                        li #{(__('general_theology_course_qualification_1b'))}
                li #{(__('general_theology_course_qualification_2'))}
                li #{(__('general_theology_course_qualification_3'))}
        div.title-paragraph
            h1 #{__('general_theology_course_course_title')}
            ul.point
                li #{__('general_theology_course_course_pt1')}
                li #{__('general_theology_course_course_pt2')}
            ul.numbering
                li #{__('general_theology_course_course_1')}
                li #{__('general_theology_course_course_2')}
                li #{__('general_theology_course_course_3')}
        div.title-paragraph
            h1 #{__('general_theology_course_fee_title')}
            div.cost-table
                span #{__('general_theology_course_fee_1')}
                span #{__('general_theology_course_fee_1_cost')}
            div.cost-table
                span #{__('general_theology_course_fee_2')}
                span #{__('general_theology_course_fee_2_cost')}
            div.cost-table
                span #{__('general_theology_course_fee_3')}
                span #{__('general_theology_course_fee_free')}
            div.cost-table
                span #{__('general_theology_course_fee_4')}
                span #{__('general_theology_course_fee_free')}
        div.title-paragraph
            h1 #{__('general_theology_course_apply_title')}
            div #{__('general_theology_course_apply_1')}   
            div #{__('general_theology_course_apply_2')}  
            div 
                span #{__('general_theology_course_apply_3')} &nbsp;
                a(href="mailto:info@ccstvan.ca") info@ccstvan.ca

    section(id='prog-nondegree')
        h1    
            span #{__('progNonDegree')}
        div #{__('nonDegree1')}


    section(id='prog-audit')
        h1    
            span #{__('progAudit')}
        div #{__('audit1')}

    script.
        var stickyOffset = $('section#prog-dmin').offset().top;   //50 is the height of sticky (defined in css)

        $(window).scroll(function(){
            var sticky = $('.section-nav'),
                scroll = $(window).scrollTop();

            if (scroll >= stickyOffset) sticky.addClass('fixed');
            else sticky.removeClass('fixed');
        });




