extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/vancouver.css')

block admission-content
    section
        h1 
            span #{__('vanCharacterTitle')}
        
        article.title-paragraph
            h1 #{__('vanCharacter1Title')}
            div #{__('vanCharacter1')}
        
        article.title-paragraph
            h1 #{__('vanCharacter2Title')}
            div #{__('vanCharacter2')}
        
        article.title-paragraph
            h1 #{__('vanCharacter3Title')}
            div #{__('vanCharacter3')}
        
        article.title-paragraph
            h1 #{__('vanCharacter4Title')}
            div #{__('vanCharacter4')}
        
        article.title-paragraph
            h1 #{__('vanCharacter5Title')}
            div #{__('vanCharacter5')}
        
        article.title-paragraph
            h1 #{__('vanCharacter6Title')}
            div #{__('vanCharacter6')}


    