extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/vancouver.css')

block admission-content
    div.container.section.van-characteristics
        div.header 
            div.title #{__('vanCharacterTitle')}
        ul.desc-container
            li.pt-title #{__('vanCharacter1Title')}
            li.indent-1 #{__('vanCharacter1')}
            li.pt-title #{__('vanCharacter2Title')}
            li.indent-1 #{__('vanCharacter2')}
            li.pt-title #{__('vanCharacter3Title')}
            li.indent-1 #{__('vanCharacter3')}
            li.pt-title #{__('vanCharacter4Title')}
            li.indent-1 #{__('vanCharacter4')}
            li.pt-title #{__('vanCharacter5Title')}
            li.indent-1 #{__('vanCharacter5')}
            li.pt-title #{__('vanCharacter6Title')}
            li.indent-1 #{__('vanCharacter6')}

    